.devider
  .item Thành Viên
  .note Dự án: #{link_to @project.title, project_path(@project)}

%table.table.table-bordered
  %tr 
    %th #{@project.user.name}
    %td #{@project.user.email}
    %td Quản Lý
  - @managements.each do |management|
    %tr 
      %th #{management.user.name}
      %td #{management.user.email}
      %td Thành Viên (#{link_to("Xoá", remove_member_dashboard_project_path(@project, user_id: management.user.id), method: :delete) if @project.authorized_super_edit_for?(current_user)})
  - if @project.authorized_super_edit_for?(current_user)
    %tr
      = form_tag add_member_dashboard_project_path(@project) do
        %th Thêm Thành Viên Mới
        %td
          = text_field_tag :email
          .hint Điền email (đã đăng ký tài khoản) của thành viên mới.
          = check_box_tag :notification, "true", checked: "checked"
          %span.hint Gửi email thông báo
        %td= submit_tag "Thêm", class: "submit"