.comment-cover{style: "background-image: url('#{@project.photo_url}')"}
  .overlay
%header.proj-header.row.col-md-8.col-md-offset-2
  = render "layouts/item-based/navigation", project: @project
  .comment-header
    %h1= @project.title
    %span.glyphicon.glyphicon-user
    = @project.user.name
    &sdot;
    %span.glyphicon.glyphicon-map-marker
    = @project.location
%section.row.col-md-8.col-md-offset-2
  = render "projects/side_bar/metrics_box", project: @project
  %hr/
  - if @project_updates.empty?
    Hiện dự án <strong>#{@project.title}</strong> chưa có cập nhật nào.
  - else
    .list-group
      - @project_updates.each do |update|
        = link_to project_project_update_path(@project, update), class: "list-group-item" do
          %h4.list-group-item-heading
            = update.title
            %span.label.label-success.pull-right= human_time update.created_at
          %p.list-group-item-text= limit_display(update.content, 800)