= render "layouts/item-based/cover.html.haml", project: @project

%section.row.col-md-8.col-md-offset-2
  - if notice || alert
    .row
      .alert.alert-info= notice || alert
  = render "projects/side_bar/metrics_box", project: @project
  %hr/
  - if @project_updates.empty?
    Hiện dự án <strong>#{@project.title}</strong> chưa có cập nhật nào.
  - else
    .list-group
      - @project_updates.each do |update|
        = link_to project_project_update_path(@project, update), class: "list-group-item" do
          %h4.list-group-item-heading
            = update.title
            %span.label.label-success.pull-right= human_time update.created_at
          %p.list-group-item-text= markdown limit_display(update.content, 800)