= render "layouts/item-based/cover.html.haml", project: @project

%section.row.col-md-8.col-md-offset-2
  = render "projects/side_bar/metrics_box", project: @project
  %hr/
  #project_updates.list-group
    .list-group-item
      %h4.list-group-item-heading
        = @project_update.title
        %span.label.label-success.pull-right= human_time @project_update.created_at
      %p.list-group-item-text= markdown @project_update.content.html_safe