%tr
  %td
    = human_time invite.created_at
    %br/
    - if invite.status == "SENT"
      = t('.Đã_mời')
    - else
      = t('.mới')
  %td
    %p= t('.stronginvitenamestrong', :invitename => (invite.name))
  %td
    %p
      = t('.p_invitephonebr', :invitephone => (invite.phone))
      = t('.e_inviteemail', :inviteemail => (invite.email))
  %td
    %p
      - if invite.status == "NEW"
        = link_to t('.sửa'), edit_project_invite_path(invite.project, invite)
        = t('.sdot')
        = link_to t('.xoá'), project_invite_path(invite.project, invite), :method => :delete, :data => { :confirm => 'Bạn có chắc xoá contact này không?' }
        %br/
        %b= link_to t('.gửi_thư_mời'), send_out_project_invites_path(invite_id: invite.id)
  / .span2
  /   %p
  /     = human_time invite.created_at
  /     %br/
  /     - if invite.status == "SENT"
  /       Đã Mời
  /     - else
  /       Mới
  / .span4
  /   %p <strong>#{invite.name}</strong>
  / .span4
  /   %p
  /     P: #{invite.phone}<br/>
  /     E: #{invite.email}
  / .span2
  /   %p
  /     - if invite.status != "SENT"
  /       = link_to 'Sửa', edit_project_invite_path(@project, invite)
  /       &sdot;
  /       = link_to 'Xoá', project_invite_path(@project, invite), :method => :delete, :data => { :confirm => 'Bạn có chắc xoá contact này không?' }
  /       %br/
  /       %b= link_to 'Gửi Thư Mời', '#' # send_out_project_invites_path(@project, id: invite.id)
