%p#notice= notice

%p
  %b= t('.name')
  = @invite.name
%p
  %b= t('.email')
  = @invite.email
%p
  %b= t('.phone')
  = @invite.phone

= link_to t('.edit'), edit_invite_path(@invite)
= \t('.')
= link_to t('.back'), invites_path
