%h4 Xin chào #{@user.name.split.last},

%p Hệ thống vừa ghi nhận một yêu cầu xác nhận tiền đã được gửi đến tài khoản của dự án #{@project.title} vào ngày #{human_time(@donation.updated_at)}. Thông tin chi tiết như sau:

%ul 
  %li Ngày gửi yêu cầu: #{human_time(@donation.updated_at)}
  %li Dự án: #{@project.title}
  %li Mã ủng hộ: #{@donation.euid}
  %li Số tiền ủng hộ: #{human_currency @donation.amount}
  %li Số ĐT người ủng hộ: #{@donation.user.phone}

%p 
  Vui lòng truy cập #{link_to "đường dẫn này", project_donations_url(@donation.project, utm_campaign: "ProjectLinkInEmail", utm_source: "email", utm_medium: "link")} để xác nhận.
  %br/ 
  %a{:href => "http://www.charity-map.org/?utm_campaign=EmailFooterLink&utm_medium=link&utm_source=email"} www.charity-map.org