%p Xin chào#{" #{@user.full_name.split.last}" if @user.full_name},

%p <b>Charity Map</b> xin thông báo chúng tôi xác nhận đã nhận tiền mặt được gửi đến ủng hộ dự án <b>#{@project.title}</b>.

%p Thông tin chi tiết như sau:

%p 
  \== Dự án: #{@project.title}
  %br/ 
  \== Mã ủng hộ: #{@donation.euid}
  %br/ 
  \== Số tiền ủng hộ: #{human_currency @donation.amount}

%p 
  Cảm ơn bạn đã ủng hộ dự án đăng trên <b>Charity Map</b> và chúng tôi hy vọng bạn sẽ ghé thăm site thường xuyên để theo dõi các dự án khác cũng như tiến độ thực hiện của dự án <b>#{@project.title}</b>.
  %br/ 
  www.charity-map.org