%p Xin chào #{@user.name.split.last},

%p Dự án <b>#{@project.title}</b> xin thông báo chúng tôi xác nhận đã nhận tiền mặt được gửi đến ủng hộ. Thông tin:

%ul
  %li Dự án: <b>#{@project.title}</b>
  %li Mã ủng hộ: <b>#{@donation.euid}</b>
  %li Số tiền ủng hộ: <b>#{human_currency @donation.amount}</b>
  %li Ngày ủng hộ: <b>#{human_time @donation.created_at}</b>
  %li Ngày xác nhận: <b>#{human_time @donation.updated_at}</b>

%p 
  Cảm ơn bạn đã ủng hộ dự án đăng trên <b>Charity Map</b> và chúng tôi hy vọng bạn sẽ ghé thăm site thường xuyên để theo dõi các dự án khác cũng như tiến độ thực hiện của dự án <b>#{@project.title}</b>.
  
%p 
  Thân,
  %br/ 
  www.charity-map.org