%p Xin chào #{@ext_donation.donor.split.last},

%p Dự án <b>#{@project.title}</b> xin thông báo chúng tôi xác nhận đã nhận ủng hộ của bạn. Thông tin:

%ul
  %li Dự án: <b>#{@project.title}</b>
  %li Số tiền ủng hộ: <b>#{human_currency @ext_donation.amount}</b>
  %li Ngày ủng hộ: <b>#{human_time @ext_donation.collection_time}</b>
  %li Ngày xác nhận: <b>#{human_time Time.now}</b>

%p 
  Để theo dõi thông tin liên quan tới ủng hộ của bạn cũng như cập nhật từ dự án <b>#{@project.title}</b>, vui lòng truy cập #{link_to "đường dẫn này", new_user_registration_path(:token => @ext_donation.token.value)}. Một lần nữa, cảm ơn bạn đã ủng hộ dự án <b>#{@project.title}</b>.
  
%p 
  Thân,
  %br/ 
  www.charity-map.org


- if @ext_donation.anon
  %p <b>Ghi chú</b>: Ủng hộ này đã được đánh dấu Ẩn Danh.