%p Xin chào#{" #{@user.full_name.split.last}" if @user.full_name},

%p <b>Charity Map</b> xin thông báo dự án <b>#{@project.title}</b> có cập nhật mới.

%p Thông tin cập nhật như sau:

%p 
  \== Dự án: #{@project.title}
  %br/ 
  \== Ngày cập nhật: #{human_time(@project_update.updated_at)}
  %br/ 
  \== Nội dung cập nhật: #{@project_update.content}

%p 
  www.charity-map.org