/ navbar
%header.navbar.navbar-inverse{role: "banner"}
  .navbar-header
    %button#menu-toggler.navbar-toggle{"data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, class: "navbar-brand" do
      = image_tag "charitymap-dashboard-logo.png"
  %ul.nav.navbar-nav.pull-right.hidden-xs
    %li.hidden-xs.hidden-sm
      %input.search{type: "text"}/
    / - if current_user.blank_contact? || !current_user.facebook_credentials || !current_user.verified?
    %li.notification-dropdown.hidden-xs.hidden-sm
      %a.trigger{href: "#"}
        %i.icon-warning-sign
        %span.count= (current_user.blank_contact? ? 1 : 0) + (!current_user.facebook_credentials ? 1 : 0) + (!current_user.verified? ? 1 : 0)
      .pop-dialog
        .pointer.right
          .arrow
          .arrow_border
        .body
          %a.close-icon{href: "#"}
            %i.icon-remove-sign
          .notifications
            %h3 Bạn còn #{(current_user.blank_contact? ? 1 : 0) + (!current_user.facebook_credentials ? 1 : 0) + (!current_user.verified? ? 1 : 0)} bước nữa để có 1 hồ sơ hoàn chỉnh
            - if current_user.blank_contact?
              = link_to users_settings_path, class: "item" do
                %i.icon-signin
                Cung cấp thông tin
                %span.time
                  %i.icon-time
                  2 phút
            - if !current_user.facebook_credentials
              = link_to "users/auth/facebook" do
                %i.icon-signin
                Kết nối Facebook
                %span.time
                  %i.icon-time
                  1 phút
            - if !current_user.verified?
              = link_to users_verify_path, class: "item" do
                %i.icon-signin
                Xác nhận tài khoản
                %span.time
                  %i.icon-time
                  3 phút
            / .footer
            /   %a.logout{href: "#"} View all notifications
    / %li.notification-dropdown.hidden-xs.hidden-sm
    /   %a.trigger{href: "#"}
    /     %i.icon-envelope
    /   .pop-dialog
    /     .pointer.right
    /       .arrow
    /       .arrow_border
    /     .body
    /       %a.close-icon{href: "#"}
    /         %i.icon-remove-sign
    /       .messages
    /         %a.item{href: "#"}
    /           = image_tag "dashboard/contact-img.png", class: "display"
    /           .name Alejandra Galván
    /           .msg
    /             There are many variations of available, but the majority have suffered alterations.
    /           %span.time
    /             %i.icon-time
    /             13 min.
    /         %a.item{href: "#"}
    /           = image_tag "dashboard/contact-img2.png", class: "display"
    /           .name Alejandra Galván
    /           .msg
    /             There are many variations of available, have suffered alterations.
    /           %span.time
    /             %i.icon-time
    /             26 min.
    /         %a.item.last{href: "#"}
    /           = image_tag "dashboard/contact-img.png", class: "display"
    /           .name Alejandra Galván
    /           .msg
    /             There are many variations of available, but the majority have suffered alterations.
    /           %span.time
    /             %i.icon-time
    /             48 min.
    /         .footer
    /           %a.logout{href: "#"} View all messages
    %li.dropdown
      %a.dropdown-toggle.hidden-xs.hidden-sm{"data-toggle" => "dropdown", href: "#"}
        Cá Nhân
        %b.caret
      %ul.dropdown-menu
        %li= link_to "Tùy Chỉnh", users_settings_path
        %li= link_to "Đóng Góp", users_donations_path
        %li= link_to "Xác Nhận TK", users_verify_path
        %li= link_to "Đăng Xuất", destroy_user_session_path
        / %li= link_to "Tin Nhắn", messages_path
    %li.settings.hidden-xs.hidden-sm
      = link_to users_settings_path do
        %i.icon-cog
    %li.settings.hidden-xs.hidden-sm
      = link_to root_path do
        %i.icon-share-alt
/ end navbar