/ sidebar
#sidebar-nav
  %ul#dashboard-menu
    %li.active
      - if params[:action] == "dashboard"
        .pointer
          .arrow
          .arrow_border
      = link_to dashboard_path do
        %i.icon-home
        %span Quản Lý
    - if (["dashboard/projects", "project_updates", "recommendations", "project_rewards", "invites"].include?(params[:controller]) && @project)
      %li.active
        %a.dropdown-toggle{href: "#"}
          %i.icon-signal
          %span= @project.title
          %i.icon-chevron-down
        %ul.submenu
          %li= link_to "Chỉnh Sửa", edit_project_path(@project)
          %li= link_to "Gửi Thư Mời", project_invites_path(@project)
          %li= link_to "Quản Lí Quỹ", project_project_rewards_path(@project)
    - else
      %li
        %a.dropdown-toggle{href: "#"}
          %i.icon-signal
          %span Dự Án
          %i.icon-chevron-down
        %ul.submenu
          - current_user.projects.each do |project|
            %li= link_to project.title,dashboard_project_path(project)
          %li= link_to "Tạo Mới", new_project_path
    
    %li
      = link_to Configuration[:blog_url], target: "_blank" do
        %i.icon-share-alt
        %span Cập Nhật