.body-container--plain-row
  .body-container--content
    %h1 Listing recommendations
    - @recommendations.each do |rec|
      .row-fluid
        .recommendation--user-info
          .avatar.pull-left
            = image_tag(rec.user.avatar_url(:small)) if rec.user.avatar? 
          .user-info.pull-left
            .full_name= link_to rec.user.full_name, user_profile_path(rec.user)
            .sub-headline= human_time rec.updated_at
        .cleared
        %p 
          #{rec.content}

    %br

    = link_to 'New Recommendation', new_project_recommendation_path(@project)
