%p#notice= notice

%p
  %b= t('.project')
  = @recommendation.project
%p
  %b= t('.user')
  = @recommendation.user
%p
  %b= t('.content')
  = @recommendation.content

= link_to t('.edit'), edit_recommendation_path(@recommendation)
= \t('.')
= link_to t('.back'), recommendations_path
