= content_for :head do
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:100&subset=latin,%vietnamese ", rel: "stylesheet", type: "text/css"}/

  %style 
    body {background-color: #e2e7e8}

.body-container--plain-row
  #header-box.body-container--content.dark-container
    .logo 
      - if @user.avatar? 
        = image_tag(user.avatar_url(:medium), size: "80x80")
      - else
        = image_tag("portfolio/default_avatars/4.jpg", size: "80x80")
    .group-info
      .title= limit_display user.name, 40
      .slogan
        = link_to "Thông Tin ", "#about-us"
        &sdot;
        = link_to "Dự Án", "#our-projects"
        &sdot;
        = link_to "Những Con Số", "#our-figures"
        &sdot;
        = link_to "Thành Viên", "#our-members"
        &sdot;
        = link_to "Liên Hệ", "#contact-us"
      
    / - if (current_user) && (!current_user.following?(user))
    /   .follow-button.disabled #{pluralize user.followers.count, "like"}
    / - else
    /   .follow-button= link_to "Thích (#{user.followers.count})", users_follow_path(:followed => user.id)

  .body-container--content.light-container
    .clearfix
    #about-us.text-container.row-fluid= markdown user.bio
  
  #our-projects.body-container--content.light-container
    #sub-header-box Dự Án Của Chúng Tôi

  .body-container--content.light-container
    .portfolio-projects.row-fluid{style: "padding-top: 20px; padding-bottom: 20px;"}
      - if user.projects
        - user.projects.portfolio_view.each do |project|
          .project-bar
            = link_to project_path(project) do
              .top-image
                - if project.accepting_donation?
                  .status
                    %i.icon-rocket
                    Đang Gây Quỹ
                .info
                  .title= project.title
                  .location
                    = project.location || "Viet Nam"
                - if project.photo?
                  = image_tag project.photo_url(:portfolio), size: "450x160"
                - else
                  = image_tag "portfolio/1009408_10201157689293186_167515360_o.jpg", size: "450x160"
              
            .bottom-stats
              .stat-box.donations
                .text Quỹ 
                .number= human_currency project.donations_sum
              .stat-box.donors
                .text Tiến Độ
                .number= number_to_percentage(project.donations_sum / project.funding_goal * 100, precision: 0)
              .stat-box.reviews
                .text Ngày
                .number= human_time project.start_date
      - if user.ext_projects
        - user.ext_projects.each do |project|
          = render "projects/ext_project", project: project
      - if (current_user) && (current_user == user)
        = link_to "#new_ext_project" do
          #new_ext_project_button.blank-project-bar
            %i.icon-plus
            &nbsp; Dự Án Trước Đây
        .clearfix
        #new_ext_project.figures{style: "display: none;"}
          .order
            %i.icon-plus
          .message-bar
            = form_for @ext_project, url: users_add_ext_project_to_portfolio_path do |f|
              = f.hidden_field :user_id, value: user.id
              .row-fluid
                .sub-headline Tiêu Đề
                = f.text_field :title, class: "span12"
              .row-fluid
                .sub-headline Địa Điểm
                = f.text_field :location, class: "span12"
              .row-fluid
                .sub-headline
                  Diễn Giải
                = f.text_area :description, class: "span12"
              .row-fluid
                .span4.sub-headline Quỹ
                .span4.sub-headline MTQ
                .span4.sub-headline Ngày
              .row-fluid
                .span4= f.text_field :funding_goal
                .span4= f.text_field :number_of_donors
                .span4= f.text_field :executed_at
              .row-fluid
                .span6.sub-headline Ảnh Dự Án
                .span6.sub-headline Lưu ý
              .row-fluid
                .span6= f.file_field :photo
                .span6.hint Hiện BĐTT chưa hỗ trợ chỉnh sửa thông tin dự án trước đây một khi đã gửi về hệ thống. Bạn vui lòng kiểm tra kỹ thông tin trước khi ấn gửi. Bạn có thể xoá dự án sau khi đã gửi.
              .pull-right
                = f.submit "Submit", class: "submit"
  
  - if user.figures
    #our-figures.body-container--content.light-container
      #sub-header-box
        Những Con Số
    .body-container--content.light-container
      .row-fluid{style: "padding-top: 20px; padding-bottom: 50px;"}
        - index = 1
        - user.figures.each do |key, value|
          .figures{id: "figure-#{index}"}
            .order= index
            .message-bar
              .figure= key
              = value
              - if current_user == user
                %br/ 
                = link_to users_delete_figure_from_portfolio_path(key: key, index: index), remote: true do
                  %i.icon-minus
                  Delete

            .margined
          - index += 1
      - if (current_user) && (user == current_user)
        .figures
          .order
            %i.icon-plus
          .message-bar
            = form_tag(users_add_figure_to_portfolio_path, method: :post) do
              .row-fluid
                .sub-headline
                  Tiêu Đề
                = text_field_tag :key, nil, class: "span12"
              .row-fluid
                .sub-headline
                  Diễn Giải
                = text_area_tag :value, nil, class: "span12"
              %hr/ 
              .pull-right
                = submit_tag "Submit", class: "submit"
  - elsif (current_user) && (user == current_user)
    #our-figures.body-container--content.light-container
      #sub-header-box
        Những Con Số
    .body-container--content.light-container
      .row-fluid{style: "padding-top: 20px; padding-bottom: 50px;"}
        .figures
          .order
            %i.icon-plus
          .message-bar
            = form_tag(users_add_figure_to_portfolio_path, method: :post) do
              .row-fluid
                .sub-headline
                  Tiêu Đề
                = text_field_tag :key, nil, class: "span12"
              .row-fluid
                .sub-headline
                  Diễn Giải
                = text_area_tag :value, nil, class: "span12"
              %hr/ 
              .pull-right
                = submit_tag "Submit", class: "submit"
      / .figures
      /   .order 1
      /   .message-bar
      /     .figure 100,000,000 VNĐ
      /     Tổng số tiền chúng tôi đã gây quỹ được kể từ khi giới thiệu đến công chúng. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      /   .margined
      / .figures
      /   .order 2
      /   .message-bar
      /     .figure 2,305,192 tin nhắn
      /     Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
      /   .margined
      / .figures
      /   .order 3
      /   .message-bar
      /     .figure "Danh Hiệu Của Năm"
      /     Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      /   .margined

  / #our-members.body-container--content.light-container
  /   #sub-header-box Thành Viên
  
  / .body-container--content.light-container
  /   .row-fluid{style: "padding-top: 20px; padding-bottom: 50px;"}
  /     - (1..9).each do |i|
  /       .member
  /         .avatar= image_tag "portfolio/default_avatars/#{i}.jpg", size: "100x100"
  /         .info Hoang Minh Tu

  #contact-us.body-container--content.light-container
    #sub-header-box Liên Hệ
  .body-container--content.light-container
    .row-fluid.text-container{style: "padding-top: 20px; padding-bottom: 20px;"}= markdown user.try(:address)

  .body-container--content.light-container
    = render "layouts/map", height: "400px", markers: @user.projects.portfolio_view.mapped

:javascript
  $("#new_ext_project_button").click(function() {
    $("#new_ext_project").slideToggle(500);
  })