.row-fluid
  .devider
    .item= t('.thẻ_quà_tặng_của_bạn')
.row-fluid
  - if @gift_cards.empty?
    %p= t('.hiện_bạn_chưa_có_thẻ_quà_tặng_')
  - else
    %table.table.table-striped
      %tr
        %th= t('.ngày')
        %th= t('.người_tặng')
        %th= t('.trị_giá')
        %th= t('.trạng_thái')
      - @gift_cards.each do |card|
        %tr
          %td= human_time card.created_at
          %td= link_to card.user.name, (card.user.website.blank? ? user_profile_path(card.user) : card.user.website)
          %td= human_currency card.amount
          %td
            = t('.cardhuman_status', :cardhuman_status => (card.human_status))
            - if card.redeemable?
              = &sdot; #{link_to t('.redeem', ), gifts_path(token: card.token)}
