= content_for :head do
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:100&subset=latin,%vietnamese ", rel: "stylesheet", type: "text/css"}/

.body-container--plain-row
  #header-box.body-container--content.dark-container
    .logo 
      = image_tag "default_avatar.png", size: "80x80"
    .group-info
      .title Hoang Minh Tu
      .slogan Here comes the giants!
    .follow-button Theo Duoi

  .body-container--content.light-container
    .clearfix
    #about-us.row-fluid
      Yuck Lam sao de thoat ra khoi day day?
  
  .body-container--content.light-container
    #sub-header-box Dự Án Của Chúng Tôi

  .body-container--content.light-container
    #our-projects.row-fluid{style: "padding-top: 20px; padding-bottom: 50px;"}
      - 5.times do
        .project-bar
          .top-image
            .info
              .title
                Hoang minh Tu
              .location
                Dong Nai
            = image_tag "portfolio/1009408_10201157689293186_167515360_o.jpg", size: "450x160"
            
          .bottom-stats
            .stat-box.donations
              .text Quỹ 
              .number 200,000,000 VND
            .stat-box.donors
              .text MTQ
              .number 200
            .stat-box.reviews
              .text Nhận Xét
              .number 2

  .body-container--content.light-container
    #sub-header-box Những Con Số

  .body-container--content.light-container
    .row-fluid{style: "padding-top: 20px; padding-bottom: 50px;"}
      - 5.times do |i|
        .figures
          .figure= i
          .message-bar Content Content Content ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent ContentContent Content
          .margined

  .body-container--content.light-container
    #sub-header-box Thanh Vien
  
  .body-container--content.light-container
    .row-fluid{style: "padding-top: 20px; padding-bottom: 50px;"}
      - 5.times do 
        .member
          .avatar= image_tag "default_avatar.png", size: "100x100"
          .info Hoang Minh Tu