.body-container--plain-row
  .body-container--content
    .row-fluid.centered
      .span12
        - if @user.avatar? 
          = image_tag(@user.avatar_url(:medium)) 
        - else
          = image_tag("default_avatar.png", size: "50x50")
    .row-fluid.centered
      .sub-headline= @user.full_name

    .row-fluid
      .devider
        .item Dự Án
    - if @user.projects.public_view.empty?
      Hiện chưa có dự án nào được ghi nhận trên hệ thống.
    - else
      .row-fluid
        - cache("public_projects", :expires_in => 12.hours) do
          - @user.projects.public_view.each do |project|
            = render "projects/bar_display", :project => project, :donations_list => donations_from_7_days(project)

    .row-fluid
      .devider
        .item Danh Sách Đóng Góp
    - if @user.donations.empty?
      Hiện chưa có đóng góp nào được ghi nhận trên hệ thống.
    - else
      .row-fluid.donation--bar.row-heading
        .span1 MÃ
        .span4.centered DỰ ÁN
        .span4 SỐ TIỀN / PHƯƠNG THỨC
        .span3.righted TRẠNG THÁI
      - @user.donations.successful.each do |donation|
        = render "layouts/donation_display", donation: donation

:javascript
  $(document).ready(function(){ 
    $(".show-chart").click(function(){
      var bar_display = $(this).parents(".bar-display");
      var donation_chart = $(".donation-chart", bar_display);
      donation_chart.toggle();
    });
  });        