- if @user.org
  = render "users/portfolio", user: @user
- else
  .body-container--plain-row
    .body-container--content
      .dashboard--sidebar
        - if (current_user) && (current_user == @user)
          .chunk
            .line.heading
              %i.icon-user
              = t('.cá_nhân')
            .line= link_to t('.chỉnh_sửa_thông_tin'), users_settings_path
            .line #{link_to= t('.tin_nhắn', ), messages_path}
            .line= link_to t('.Đóng_góp'), users_donations_path
        .chunk
          .line.heading
            %i.icon-link
            = t('.Đường_dẫn')
          .line= link_to t('.trang_chủ'), root_path
          .line= link_to t('.danh_sách_dự_Án'), projects_path
        .chunk
          .line.heading
            %i.icon-gears
            = t('.hệ_thống')
          .line= t('.tin_tức_cập_nhật')
          .line.disabled= t('.gửi_góp_Ý')
      .dashboard--main
        .row-fluid.centered
          %th
            - if @user.avatar?
              = image_tag(@user.avatar_url(:medium))
            - else
              = image_tag("default_avatar.png", size: "50x50")
        .row-fluid.centered
          .sub-headline= @user.name
          - if(@user != current_user)
            %p
              %i.icon-comments
              = link_to t('.gửi_tin_nhắn'), new_message_users_path(:receiver => @user.id)

        %hr/

        .row-fluid
          .devider
            .item= t('.dự_Án_của_bạn')
        - if @user.projects.public_view.empty?
          = t('.người_dùng_chưa_tạo_dự_án_trên')
        - else
          .row-fluid
            - @user.projects.public_view.each do |project|
              = render "projects/bar_display", :project => project, :donations_list => donation_data_in_7_days(project)

        %hr/
        .row-fluid
          .devider
            .item= t('.Đóng_góp_của_bạn')
        - if @user.donations.successful.empty?
          = t('.chưa_có_đóng_góp_nào_được_ghi_')
        - else
          - @user.donations.successful.each do |donation|
            - unless donation.anon
              .date.centered= human_time(donation.created_at)
              / .collection_method
              /   %span.centered= human_donation_type donation.collection_method
              .in_words
                %strong #{link_to donation.user.name, user_profile_path(donation.user)} ủng hộ <strong>#{human_currency donation.amount}</strong> (#{human_donation_type donation.collection_method})
