- if @user.org
  = render "users/portfolio", user: @user
- else
  .body-container--plain-row
    .body-container--content
      .dashboard--sidebar
        - if (current_user) && (current_user == @user)
          .chunk
            .line.heading
              %i.icon-user 
              Cá Nhân
            .line= link_to "Chỉnh Sửa Thông Tin", users_settings_path
            .line #{link_to "Tin Nhắn", messages_path}
            .line= link_to "Đóng Góp", users_donations_path
        .chunk
          .line.heading
            %i.icon-link
            Đường Dẫn
          .line= link_to "Trang Chủ", root_path
          .line= link_to "Danh Sách Dự Án", projects_path
        .chunk
          .line.heading
            %i.icon-gears 
            Hệ Thống
          .line Tin Tức, Cập Nhật
          .line.disabled Gửi Góp Ý
      .dashboard--main
        .row-fluid.centered
          %th 
            - if @user.avatar? 
              = image_tag(@user.avatar_url(:medium)) 
            - else
              = image_tag("default_avatar.png", size: "50x50")
        .row-fluid.centered
          .sub-headline= @user.name
          - if(@user != current_user)
            %p
              %i.icon-comments
              = link_to "Gửi Tin Nhắn", new_message_users_path(:receiver => @user.id)

        %hr/ 

        .row-fluid
          .devider
            .item Dự Án Của Bạn
        - if @user.projects.public_view.empty?
          Người dùng chưa tạo dự án trên hệ thống.
        - else
          .row-fluid
            - @user.projects.public_view.each do |project|
              = render "projects/bar_display", :project => project, :donations_list => donation_data_in_7_days(project)

        %hr/
        .row-fluid
          .devider
            .item Đóng Góp Của Bạn
        - if @user.donations.successful.empty?
          Chưa có đóng góp nào được ghi nhận trên hệ thống.
        - else
          - @user.donations.successful.each do |donation|
            - unless donation.anon
              .date.centered= human_time(donation.created_at)
              / .collection_method
              /   %span.centered= human_donation_type donation.collection_method
              .in_words
                %strong #{link_to donation.user.name, user_profile_path(donation.user)} ủng hộ <strong>#{human_currency donation.amount}</strong> (#{human_donation_type donation.collection_method})