.devider
	.item
		%i.icon-edit-sign 
		Chỉnh Sửa Thông Tin

.row-fluid
	.span12
		.error_messages
			- if @user.errors.full_messages
				- @user.errors.full_messages.each do |error_message| 
					=error_message 
					%br/

		.update-user-profile
			= semantic_form_for @user,:method => :post,  url: users_update_settings_path  do |f|
				= f.input  :id, :as => :hidden
				= f.inputs :email
				= f.input  :full_name #, input_html: { disabled: true } unless current_user.phone.blank?
				= f.input  :address
				= f.input  :city,  :as => :select, :collection => ["Hồ Chí Minh", "Hà Nội"], :include_blank => false
				= f.input :bio, :input_html => { :cols => 100, :rows => 3 }
				= f.input :phone #, input_html: { disabled: true } unless current_user.phone.blank?
				= image_tag(@user.avatar_url(:medium)) if @user.avatar? 
				= f.file_field :avatar 
				= f.hidden_field :avatar_cache 
				%hr/
				%p
					= f.check_box :org
					Tổ chức (click chọn nếu bạn là tổ chức/nhóm cần sử dụng trang đại diện dạng )
				%hr/ 
				= f.submit "Cập nhật Thông Tin", class: "submit"