/ - if !GiftCard.where(recipient_email: @user.email).inactive.empty?
/ 	- GiftCard.where(recipient_email: @user.email).inactive.each do |inactive|
/ 		%p #{inactive.id} #{inactive.amount} #{inactive.token}
/ TODO: activate gift card on dashboard

.devider
	.item
		%i.icon-edit-sign
		= t('.chỉnh_sửa_thông_tin')

.row-fluid
	.span12
		.error_messages
			%p
				- if @user.errors.full_messages
					- @user.errors.full_messages.each do |error_message|
						= error_message
						%br/

		.update-user-profile
			= semantic_form_for @user,:method => :post,  url: users_update_settings_path  do |f|
				= f.hidden_field :id
				= f.inputs :email, disabled: (current_user.projects.portfolio_view.count > 0 ? true : false)
				- if current_user.projects.portfolio_view.count == 0
					.row-fluid
						.span8.offset3.hint= t('.bạn_không_thể_sửa_email_khi_đã')
					.clearfix
				= f.input  :full_name, label: "Họ và Tên*" #, input_html: { disabled: true } unless current_user.phone.blank?
				= f.input :phone, label: "Số ĐT*" #, input_html: { disabled: true } unless current_user.phone.blank?
				= f.input :website, label: "Website"
				= f.input  :address, label: "Địa chỉ*", as: :text, :input_html => {:rows => 5}
				- unless @user.coordinated?
					.row-fluid
						.span8.offset3.hint= t('.vị_trí_không_xác_định_được_trê')
					.clearfix
				= f.input :bio, label: "Giới Thiệu", :input_html => { :cols => 100, :rows => 15 }
				.row-fluid
					.span8.offset3.hint= render "layouts/markdown"
				.clearfix
				= f.input :avatar, as: :file, label: "Ảnh đại diện"
				= f.hidden_field :avatar_cache
				= image_tag(@user.avatar_url(:medium)) if @user.avatar?
				%hr/
				%p
					= f.check_box :org
					= t('.trang_profile_dạng_tổ_chức_cli')
				- if !@user.org
					%hr/
					%p
						= f.check_box :notify_via_email
						= t('.nhận_tin_qua_email')
						%br/
						= f.check_box :notify_via_sms
						= t('.nhận_tin_qua_sms')
						%br/
						= f.check_box :notify_via_facebook
						= t('.nhận_tin_qua_facebook_notifica')
				%hr/
				.pull-right{style: "margin-top: 20px;"}
					= link_to t('.xem_trang_của_bạn'), user_profile_path(current_user)
					= t('.sdot_tk_human_currency_balance', :human_currency_balanceuser => (human_currency balance(@user)))
					- unless @user.facebook_access_granted?
						= &sdot; #{link_to t('.kết_nối_tk_facebook', ), "/users/auth/facebook"}
				.pull-left
					= f.submit t('.cập_nhật_thông_tin'), class: "submit"

.clearfix
.devider
	.item
		%i.icon-edit-sign
		= t('.Đổi_mật_mã')

.row-fluid
	= simple_form_for(current_user, :url => registration_path(current_user), :html => { :method => :put }) do |f|
		= f.error_notification
		.form-inputs
			= f.hidden_field :email, value: current_user.email, :required => true
			= f.input :password, label: "Mật khẩu mới", :autocomplete => "off", :required => false
			= f.input :password_confirmation, :required => false, label: "Điền lại mật khẩu mới"
			= f.input :current_password, label: "Mật khẩu cũ để thay đổi mật khẩu", :required => true
		%hr/
		.pull-left
			= f.button :submit, "Thay đổi mật khẩu", class: "submit"
