- if (!current_user.verified_by_phone) && (current_user.verification.nil?)
  .devider
    .item= t('.xác_nhận_bằng_Điện_thoại')
  %p= t('.Để_tạo_hoặc_giới_thiệu_một_dự_')
  .row-fluid
    = form_tag(users_verification_code_via_phone_path, :method => :post) do
      = text_field_tag :phone_number, current_user.phone || "0908-xxx-xxx", class: "span12"
      = submit_tag "Gửi Mã", :class => "submit"
- elsif (!current_user.verification.nil?) && (current_user.verification.status == "UNUSED")
  = render "layouts/verify_code_via_phone"
- else
  %p
    %i.icon-ok-sign
    = t('.tài_khoản_đã_được_xác_nhận')
