.body-container--plain-row
  .body-container--content
    .message-div{:style => "background-color: #fff;"}
      .message-box
        .row-fluid
          .span4{:align => "center"}
            %img.img-circle{:alt => "Story", :height => "150", :src => "/assets/map_learnmore/story-db6117af1c8a3d5c9b21f34e4ebbb84d.png", :width => "150"}/
            %br/
          .span8{:align => "center"}
            %span.medium-content
            %p.classic-headline{:style => "color: #000;"}
              %strong The Story
            %p The Charity Map project was initiated in September 2012 as a means to facilitate transparent and reliable donations for orphanages and shelters across Ho Chi Minh City, Viet Nam.
        .row-fluid{:style => "margin-top: 50px;"}
          .span8
            %span.medium-content{:align => "center"}
            %p.classic-headline{:style => "color: #000;"}
              %strong How does it work?
            %p Through its map interface, potential donors can click on individual shelters to find out more about their fundraising needs and goals, key statistics, pictures, videos and heartfelt letters from orphans.
          .span4{:align => "center"}
            %img{:alt => "How", :height => "150", :src => "/assets/map_learnmore/how-5a5111a20b4f76ba9e973461f3a52e0f.png", :width => "150"}/
            %br/
.body-container--dark-row
  .body-container--content
    .message-div
      .message-box
        .row-fluid{:style => "margin-bottom: 50px;"}
          .span12{:align => "center"}
            %span.classic-headline{:style => "border-bottom: 2px dashed #757473;"}
              %strong Why Charity Map?
        .row-fluid
          .span4
            %span.modern-headline Donating At Ease
            %br/
            %span.medium-content Charity Map was built with a firm belief that giving to charities should be as easy as buying a gift to your beloved. We work hard to make sure your donation goes to the correct people and charities.
          .span4
            %span.modern-headline Instant and Reliable
            %br/
            %span.medium-content We value transparency as much as your good will. Donors will receive updates about shelter activities and financial performance once its funding round is concluded.
          .span4
            %span.modern-headline Appreciation, at Heart
            %br/
            %span.medium-content No matter where you are in the world or what size your donation is, you'll get a thank-you letter written by the children themselves.
.body-container--plain-row
  .body-container--content
    #Who.message-div
      .message-box
        .row-fluid{:style => "margin-bottom: 50px;"}
          .span12{:align => "center"}
            %span.classic-headline{:style => "color: #000; border-bottom: 2px dashed #757473;"}
              %strong The Team
        .row-fluid{:style => "margin-bottom: 100px;"}
          .span3.offset1
            %img.img-circle{:alt => "Bilesh", :height => "100", :src => "/assets/map_learnmore/bilesh-762b02bcc0a9aa77224baca699a32df0.jpg", :style => "margin-bottom: 20px;", :width => "100"}/
            %br/
            %p.medium-content
              %strong Bilesh Ladva
              = succeed "Co-founder" do
                %br/
          .span8
            Bilesh is an impact investment analyst at Shujog Impact Investment in Singapore. He has been actively involved in Viet Nam for almost two years. He managed a shelter project in Can Tho, Viet Nam, that sent students from the local university to teach English at several shelters throughout the city. He now sits on the Board of Directors of this project.
            %br/
            = succeed "During" do
              %br/
            the summer of 2012, he worked as a business development intern at an educational startup in Ho Chi Minh City through the Sponsors for Educational Opportunities (SEO) program. Prior to this, he taught English to students at Can Tho University as a Princeton in Asia Fellow for a year. He graduated from Princeton in 2011 with a degree in Economics and a certificate in Political Economy. He is originally from Cambridge, England and likes to cycle and sample delicious streetside food.
        .row-fluid{:style => "margin-bottom: 100px;"}
          .span8
            Starting her career in finance, Hanh is also passionate about social activities and community service. Through Charity Map she hopes to bring more transparency to charity work and improve children’s lives in Viet Nam.
            %br/
            = succeed "Hanh" do
              %br/
            graduated from Foreign Trade University in 2012. In her summer of graduation, she joined SEO-VN internship program where she got to know Bilesh and Tu, and started the partnership with them later on. Hanh is an AmCham Scholar and currently serves on the Alumni Association’s Board of Directors.
            %br/
            = succeed "In" do
              %br/
            her spare time, Hanh likes playing badminton and explores cuisine culture.
          .span3.offset1
            %img.img-circle{:alt => "Hanh", :height => "100", :src => "/assets/map_learnmore/hanh-e9e1aa541abb880debd321a62c28f330.jpg", :style => "margin-bottom: 20px;", :width => "100"}/
            %br/
            %p.medium-content
              %strong Hanh Nguyen
              = succeed "Co-founder" do
                %br/
        .row-fluid
          .span3.offset1
            %img.img-circle{:alt => "Tu", :height => "100", :src => "/assets/map_learnmore/tu-9ec258574643d14b60b92bef82214352.jpg", :style => "margin-bottom: 20px;", :width => "100"}/
            %br/
            %p.medium-content
              %strong Tu Hoang
              = succeed "Co-founder" do
                %br/
          .span8
            Tu, together with Hanh and Bilesh, founded Charity Map in a dazzling summer night over a hu tieu table on Pasteur, Saigon (this reasons for why they apparently loved the idea). He has been Charity Map's technical lead ever since, working nights in and out to make 0s and 1s meaningful to a world of children where computers are a rare but, with Charity Map, not anymore.
            %br/
            = succeed "Tu" do
              %br/
            spent two years at Foreign Trade University, during which worked as assistant to chairman at a real-estate project in Dong Thap. Summer 2012, he joined Sponsor For Educational Opportunities VN working at a portfolio startup. He is now residing in Berlin, Germany for a computer science fellowship.
        .row-fluid{:align => "center", :style => "margin-top: 50px; font-size: 11px; line-height: 12px;"}
          %img{:alt => "Pia", :src => "/assets/logos/pia-66bb955ecfc55ff9c5cfc0e268b16d8f.jpg"}/
          %br/
          %br/
          Generously seed funded through a
          %br/
          %strong Princeton in Asia Carrie Gordon Fellowship

.body-container--dark-row
  .body-container--content
    .message-div{:style => "background-color: #eee;"}
      .message-box
        .row-fluid{:style => "margin-bottom: 50px;"}
          #List101.span12{:align => "center"}
            %span.classic-headline{:style => "color: #000; border-bottom: 2px dashed #757473;"}
              %strong
                The 101 List
        .row-fluid{:style => "margin-bottom: 50px;"}
          #Transparency.span4.big-title
            TRANSPARENCY
          .span8 Our rigorous data collection methodology allows us to present shelters to donors in the most transparent and informative way that we know of. We do this since we understand the desire for potential donors to know exactly where and how their funds will be used to improve the lives of orphans.
        #FundingProcess.row-fluid{:style => "margin-bottom: 50px;"}
          .span4.big-title FUNDING PROCESS
          .span8
            %p Donations received through the site can be either monetary or in-kind and will work towards a fundraising goal.
            %p Charity Map adopts flexible funding. Shelters with funding activities on our site can withdraw donations either when their deadline is over or, when the funding goal is well met.
        #DonationMethod.row-fluid{:style => "margin-bottom: 50px;"}
          .span4.big-title DONATION method
          .span8 We now accept donations via bank transfer, Paypal and credit / debit card.
        /
          <div class="row-fluid" style="margin-bottom: 50px;" id="Endorsement">
          <div class="span4 big-title">ENDORSEMENT</div>
          <div class="span8">We are currently partnered with the <a href="http://www.linvn.org/">LIN Center for Community Development</a>.</div>
          </div>
        #Volunteer.row-fluid{:style => "margin-bottom: 50px;"}
          .span4.big-title VOLUNTEER
          .span8
            Volunteers are back bone of Charity Map. We'd love to welcome more additions to the team. If you're interested in helping out,
            %a{:href => "mailto:team@charity-map.org"} let us know.
        .row-fluid{:style => "margin-bottom: 50px;"}
          .span4.big-title ROADMAP
          .span8 We hope to scale this business model to all kinds of needy social enterprises throughout HCMC and eventually Viet Nam driven by our unique platform and desire for transparency.
        #Contact.row-fluid{:style => "margin-bottom: 50px;"}
          .span4.big-title CONTACT
          .span8
            Email:
            = succeed "." do
              %a{:href => "mailto:team@charity-map.org"} team@charity-map.org

.body-container--plain-row
  .body-container--content
    #extd.message-div
      .message-box{:align => "justify"}
        .row-fluid{:style => "margin-bottom: 50px;"}
          .span12{:align => "center"}
            %span.classic-headline{:style => "color: #fff; border-bottom: 2px dashed #757473;"}
              %strong The 101 List (cont.)
        .row-fluid
          .span4.extd_101 Are in-kind donations allowed?
          .span4.extd_101 Does it cost shelters to be featured?
          .span4.extd_101 What are the fees to secure my donation?
        .row-fluid{:style => "color: #858585; margin-bottom: 30px;"}
          .span4 In-kind donations are certainly welcome, however we would appreciate it if you could let us know how you are to send the donation. Shipping expense is expected to be covered by your end.
          .span4 No, shelters are listed on site free of charge. We feature shelters that either are in urgent need of help or has performed outstandingly with our former fundings.
          .span4 It varies with the payment provider you pick. Paypal charges 2.9% + $0.3 per transaction. Bank transfer costs as little as $0.3 (domestic) to $3 (int'l).
        .row-fluid
          .span4.extd_101 How would I know my donations are delivered to the right shelter?
          .span4.extd_101 I visited this one shelter that is not on the map. How do I let you know?
          .span4.extd_101 Is Charity Map operating in Ho Chi Minh City only?
        .row-fluid{:style => "color: #858585; margin-bottom: 30px;"}
          .span4 Our field staff will ensure that your valuable contribution is delivered in a timely manner to the shelter of your choice. We will also post regular updates on the shelter page to show how your donation is improving the lives of the children.
          .span4
            Fill in
            %a{:href => "/submit?locale=en"} the form
            (login not required) to submit a shelter. We will screen it, send our staff there to verify several items and post it on the map as soon as possible!
          .span4 For the time being, yes. We are piloting this model in the city as most of our team are based here. We do hope to expand nation-wide to help more Viet Namese children in need soon.