.body-container--plain-row
  .body-container--content
    .row-fluid
      .span6{style: "padding-top: 40px;"}
        .headline Ủng hộ từ thiện chưa bao giờ <br/>dễ dàng đến thế!
        %p 
        = link_to pages_about_path do
          .bttn.bttn-green Đọc Thêm
      .span6
        = image_tag "ph_homepage-banner.jpg"

.body-container--dark-row
  .body-container--content
    .row-fluid
      .span6
        %p 
          = image_tag "misc/email-icon.png", class: "pull-left", style: "padding-right: 10px;"
          %b Chỉ tốn 1 phút
          %br/ 
          để đăng ký và bắt đầu ủng hộ
      = form_tag(new_user_registration_path, :method => :get) do
        .span4
          %p= text_field_tag 'email', nil, placeholder: 'email@example.com', class: 'homepage--email-box'
        .span2
          .pull-right
            %p
              #homepage-registration-by-email.bttn.bttn-green
                %i.icon-anchor
                &nbsp;Đăng Ký

.body-container--plain-row
  .body-container--content
    .row-fluid
      .pull-left.headline Các Dự Án Đang Gây Quỹ
      .pull-right
        = link_to projects_path(:filter => "funding") do
          .more
            %i.icon-list-alt 
            Xem tất cả  
    %p 
    .row-fluid
      - if Project.funding.count > 0
        - Project.funding.each do |project|
          = render "projects/box_display", :project => project
      - else
        Hiện chưa có dự án nào đang gây quỹ.

- if Project.finished.count > 0
  .body-container--plain-row
    .body-container--content
      .row-fluid
        .pull-left.headline Các Dự Án Đã Hoàn Thành
        .pull-right
          = link_to projects_path(:filter => "finished") do
            .bttn.bttn-green
              %i.icon-list-alt
              Xem tất cả
      %p 
      .row-fluid
        - Project.finished.each do |project|
          = render "projects/box_display", :project => project

:javascript
  $('#homepage-registration-by-email').click(function() {
    if ($('input#email')[0].value.length > 0) {
      $('form').submit();
      return false;  
    } else {
      alert("Mời bạn điền email vào khung kế bên.");
    }
    
  });