= content_for :head do
  = stylesheet_link_tag    "homepage/animate", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "homepage/home", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "homepage_projects_display_box", media: "all", "data-turbolinks-track" => true
  %style 
    body {padding-top: 0 !important}
  - if user_signed_in?
    = render 'layouts/conversion_tracking/after_signin_path'

%section.header-cover
  .header-content
    %header
      = link_to root_path do
        %nav.logo-nav
      %nav.home-nav
        %ul
          %li= link_to "Về Chúng Tôi", pages_about_path
          %li= link_to "Blog", "//blog.charity-map.org"
          - if user_signed_in?
            %li= link_to "Đăng Xuất", destroy_user_session_path, class: "dki"
          - else
            %li= link_to "Đăng Kí", new_user_registration_path, class: "dki"
    .animated.fadeInDown
      %h1 Ủng hộ từ thiện chưa bao giờ dễ dàng đến vậy.
      / %p Với Charity Map bạn có thể blah blah blah & bleh bleh bleh
      - if user_signed_in?
        %span
          = link_to "Đến Trang Quản Lý", dashboard_path, class: "dashboard"
      - else
        = link_to "Đăng nhập bằng Facebook", "/users/auth/facebook", class: "facebook"
        %span
          hoặc đăng nhập 
          = link_to "bằng email", new_user_session_path, class: "mail"

%section.projects
  .project-content.section.col-md-12{style: "margin-bottom: 10px;"}
    %h2
      Dự án đang gây quỹ
  
  .body-container--plain-row
    .body-container--content
      .row-fluid
        - if @funding_projects.empty?
          %p Hiện chưa có dự án nào.
        - else
          - @funding_projects.each do |project|
            = render "projects/box_display_for_homepage", :project => project
  .clearfix

- unless @markers.nil?
  %section
    = render "layouts/map", height: "500px", markers: @markers

- cache("finished_projects", :expires_in => 1.day) do
  %section.projects
    .project-content.section.col-md-12{style: "margin-bottom: 10px;"}
      %h2 Dự án tiêu biểu
    
    .body-container--plain-row
      .body-container--content
        .row-fluid
          - if @finished_projects.empty?
            %p Hiện chưa có dự án nào.
          - else
            - @finished_projects.each do |project|
              = render "projects/box_display_for_homepage", :project => project
    .clearfix

%section.partners
  .partners-content.section
    %h2 Các tổ chức tin dùng charity-map.org
    %p
      = link_to "Vì sao bạn nên gây quỹ trên charity-map.org?", pages_about_path
    .partners-list
      %ul
        %li
          = link_to "http://www.charity-map.org/user/38" do
            = image_tag "hp/orgs/chiaseyeuthuong.jpg", class: "img-circle"
            .partner-name
              Chia Sẻ Yêu Thương
        %li
          = link_to "http://www.charity-map.org/user/54" do
            = image_tag "hp/orgs/cauvaixanh.png", class: "img-circle"
            .partner-name
              Cầu Vai Xanh
        %li
          = link_to "http://www.charity-map.org/user/78" do
            = image_tag "hp/orgs/bantaynho.jpg", class: "img-circle"
            .partner-name
              Bàn Tay Nhỏ
        %li
          = link_to "#" do
            = image_tag "hp/orgs/congbangyte.png", class: "img-circle"
            .partner-name
              Công Bằng Y Tế

- cache("stats_homepage", :expires_in => 1.day) do
  %section.stats-number
    .stats-number-content
      .section
        %h2 Những con số
        / %p
        /   %a{href: ""} Có gì trên Charity Map?
      / %div{style: "background: #ccc; margin: 30px 0;"}
      /   = line_chart [{:name => "Tiến Độ", :data => platform_funding_progress}], height: "360px"
      %h5
        %span Tổng Quan
      %ul
        %li
          .numbers= Project.public_view.count
          %span.number-tag dự án
        %li
          .numbers= Donation.successful.count + ExtDonation.count
          %span.number-tag mạnh thường quân
        %li
          .numbers= number_with_precision Donation.successful.sum(:amount) + ExtDonation.sum(:amount), precision: 0, delimiter: ","
          %span.number-tag đồng được đóng góp
      %h5
        %span Chi Tiết
      %ul
        %li
          .numbers= ProjectUpdate.count
          %span.number-tag cập nhật
        %li
          .numbers= ProjectUpdate.count * (Donation.count + ExtDonation.where("email IS NOT ?", nil).count)
          %span.number-tag báo cáo qua email
        %li
          .numbers= ProjectUpdate.count * (Donation.count)
          %span.number-tag báo cáo qua sms
        %li
          - sum = 0
          - Project.where(:item_based => true).each {|project| sum += project.donations.successful.sum(:project_reward_quantity)}
          .numbers= sum
          %span.number-tag tặng phẩm được gửi đi

- if !user_signed_in?
  %section.call-action.col-md-12
    .call-action-content
      .col-md-9
        %h2 Minh Bạch 100%
        %p Mỗi ủng hộ được gửi về dự án qua hệ thống của BĐTT, dù lớn hay nhỏ, đều được lưu trữ thông tin cùng các báo cáo liên quan một cách đầy đủ và trực quan nhất.
      .col-md-3
        = link_to "Đăng Kí và Ủng Hộ", new_user_registration_path, class: "action-button purple"

- cache("hp_footer", :expires_in => 1.month) do
  .col-md-12.cm-footer
    .col-md-6
      %p
        %b &copy; CHARITY MAP 2014
      %p Charity Map (Bản Đồ Từ Thiện) là trang web gây quỹ cộng đồng, quản lý quỹ và liên lạc với mạnh thường quân dành cho các dự án xã hội tại Việt Nam. Chúng tôi đặt tính minh bạch và sự tín nhiệm làm tiêu chí hoạt động.
    .col-md-2
      %p
        %b VỀ CHÚNG TÔI
      %p 
        = link_to "Đội Ngũ", pages_about_path
        %br/
        Báo Chí
        %br/
        Những Con Số
    .col-md-2
      %p 
        %b TỔ CHỨC XÃ HỘI
      %p 
        = link_to "Hướng Dẫn Sử Dụng", Configuration[:guide_url], target: "_blank"
        %br/
        = link_to "Chiến Dịch Gây Quỹ", Configuration[:campaign_url], target: "_blank"
        %br/
        = link_to "Câu Hỏi", Configuration[:faq_url], target: "_blank"
    .col-md-2
      %p 
        %b MẠNH THƯỜNG QUÂN
      %p
        = link_to "Phương Thức Ủng Hộ", Configuration[:donation_means_url], target: "_blank"
        %br/
        = link_to "Quy Định Bảo Mật", Configuration[:privacy_url], target: "_blank"
        %br/ 
        = link_to "Liên Hệ", Configuration[:contact_url], target: "_blank"

:javascript
  $('.funding-project-slider').unslider({delay: 5000});
  $('.finished-project-slider').unslider({delay: 10000});

  var unslider = $('.funding-project-slider').unslider();
  $('.unslider-arrow').click(function() {
      var fn = this.className.split(' ')[1];
      //  Either do unslider.data('unslider').next() or .prev() depending on the className
      unslider.data('unslider')[fn]();
  });