= content_for :head do
  = stylesheet_link_tag    "homepage/animate", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "homepage/home", media: "all", "data-turbolinks-track" => true
  %style
    = t('.body_paddingtop_0_important')
  - if user_signed_in?
    = render 'layouts/conversion_tracking/after_signin_path'

%section.header-cover
  .header-content
    %header
      = link_to root_path do
        %nav.logo-nav
      %nav.home-nav
        %ul
          %li= link_to t('.về_chúng_tôi'), pages_about_path
          %li= link_to t('.blog'), "//blog.charity-map.org"
          - if user_signed_in?
            %li= link_to t('.Đăng_xuất'), destroy_user_session_path, class: "dki"
          - else
            %li= link_to t('.Đăng_kí'), new_user_registration_path, class: "dki"
    .animated.fadeInDown
      %h1= t('.Ủng_hộ_từ_thiện_chưa_bao_giờ_d')
      / %p Với Charity Map bạn có thể blah blah blah & bleh bleh bleh
      - if user_signed_in?
        %span
          = link_to t('.Đến_trang_quản_lý'), dashboard_path, class: "dashboard"
      - else
        = link_to t('.Đăng_nhập_bằng_facebook'), "/users/auth/facebook", class: "facebook"
        %span
          = t('.hoặc_đăng_nhập')
          = link_to t('.bằng_email'), new_user_session_path, class: "mail"

%section.projects
  .project-content.section.col-md-12{style: "height: 525px;"}
    %h2
      = t('.dự_án_đang_gây_quỹ')
      / %a{href: ""} tiêu biểu
    - if @funding_projects.empty?
      %p= t('.hiện_chưa_có_dự_án_nào')
    - else
      .funding-project-slider
        %ul
          - @funding_projects.each do |project|
            %li
              .project-details
                .col-md-2
                  = link_to user_profile_path(project.user) do
                    - if project.user.avatar?
                      %span= image_tag project.user.avatar_url(:large), class: "img-circle group-ava"
                    - else
                      %span= image_tag "default_avatar.png", class: "img-circle group-ava"
                .col-md-10
                  %strong= link_to project.title, project_path(project)
                  %ul
                    %li
                      %i.glyphicon.glyphicon-user
                      %span= link_to project.user.name, user_profile_path(project.user)
                    %li
                      %i.glyphicon.glyphicon-map-marker
                      %span= project.location
                    %li
                      %i.glyphicon.glyphicon-calendar
                      %span Còn #{(TimeDifference.between(Time.now, project.end_date).in_days).to_i + 1} ngày
                  .donation-funded-wrap
                    .donation-funded{style: "width: #{number_with_precision project.donations_sum * 100/ project.funding_goal, precision: 0}%"}
              .project-goal.col-md-10.col-md-offset-2
                .col-md-6.mota-ngan
                  %span= project.brief.html_safe
                .col-md-4
                  .goal
                    %strong
                      %span= human_currency project.funding_goal
                    .hint= t('.mỤc_tiÊu')

- unless @markers.nil?
  %section
    = render "layouts/map", height: "500px", markers: @markers

%section.projects
  .project-content.section.col-md-12{style: "height: 525px;"}
    %h2
      = t('.dự_án_tiêu_biểu')
      / %a{href: ""} tiêu biểu
    - if @finished_projects.empty?
      %p= t('.hiện_chưa_có_dự_án_nào')
    - else
      .finished-project-slider
        %ul
          - @finished_projects.each do |project|
            - if project.success?
              %li
                .project-details
                  .col-md-2
                    = link_to user_profile_path(project.user) do
                      - if project.user.avatar?
                        %span= image_tag project.user.avatar_url(:large), class: "img-circle group-ava"
                      - else
                        %span= image_tag "default_avatar.png", class: "img-circle group-ava"
                  .col-md-10
                    %strong= link_to project.title, project_path(project)
                    %ul
                      %li
                        %i.glyphicon.glyphicon-user
                        %span= link_to project.user.name, user_profile_path(project.user)
                      %li
                        %i.glyphicon.glyphicon-map-marker
                        %span= project.location
                      %li
                        %i.glyphicon.glyphicon-calendar
                        %span= t('.human_time_projectend_date', :human_time_projectend_date => (human_time project.end_date))
                    .donation-funded-wrap
                      .donation-funded{style: "width: #{number_with_precision project.donations_sum * 100/ project.funding_goal, precision: 0}%"}
                .project-goal.col-md-10.col-md-offset-2
                  .col-md-6.mota-ngan
                    %span= project.brief.html_safe
                  .col-md-4
                    .goal
                      %strong
                        %span= human_currency project.funding_goal
                      .hint= t('.ĐÃ_gÂy_quỸ')

%section.partners
  .partners-content.section
    %h2= t('.các_tổ_chức_tin_dùng_charityma')
    %p
      = link_to t('.vì_sao_bạn_nên_gây_quỹ_trên_ch'), pages_about_path
    .partners-list
      %ul
        %li
          = link_to t('.httpwwwcharitymaporguser38') do
            = image_tag "hp/orgs/chiaseyeuthuong.jpg", class: "img-circle"
            .partner-name
              = t('.chia_sẻ_yêu_thương')
        %li
          = link_to t('.httpwwwcharitymaporguser54') do
            = image_tag "hp/orgs/cauvaixanh.png", class: "img-circle"
            .partner-name
              = t('.cầu_vai_xanh')
        %li
          = link_to t('.httpwwwcharitymaporguser78') do
            = image_tag "hp/orgs/bantaynho.jpg", class: "img-circle"
            .partner-name
              = t('.bàn_tay_nhỏ')
        %li
          = link_to t('.link_to_do') do
            = image_tag "hp/orgs/congbangyte.png", class: "img-circle"
            .partner-name
              = t('.công_bằng_y_tế')

- cache("stats_homepage", :expires_in => 1.day) do
  %section.stats-number
    .stats-number-content
      .section
        %h2= t('.những_con_số')
        / %p
        /   %a{href: ""} Có gì trên Charity Map?
      / %div{style: "background: #ccc; margin: 30px 0;"}
      /   = line_chart [{:name => "Tiến Độ", :data => platform_funding_progress}], height: "360px"
      %h5
        %span= t('.tổng_quan')
      %ul
        %li
          .numbers= Project.public_view.count
          %span.number-tag= t('.dự_án')
        %li
          .numbers= Donation.successful.count + ExtDonation.count
          %span.number-tag= t('.mạnh_thường_quân')
        %li
          .numbers= number_with_precision Donation.successful.sum(:amount) + ExtDonation.sum(:amount), precision: 0, delimiter: ","
          %span.number-tag= t('.đồng_được_đóng_góp')
      %h5
        %span= t('.chi_tiết')
      %ul
        %li
          .numbers= ProjectUpdate.count
          %span.number-tag= t('.cập_nhật')
        %li
          .numbers= ProjectUpdate.count * (Donation.count + ExtDonation.where("email IS NOT ?", nil).count)
          %span.number-tag= t('.báo_cáo_qua_email')
        %li
          .numbers= ProjectUpdate.count * (Donation.count)
          %span.number-tag= t('.báo_cáo_qua_sms')
        %li
          - sum = 0
          - Project.where(:item_based => true).each {|project| sum += project.donations.successful.sum(:project_reward_quantity)}
          .numbers= sum
          %span.number-tag= t('.tặng_phẩm_được_gửi_đi')

- if !user_signed_in?
  %section.call-action.col-md-12
    .call-action-content
      .col-md-9
        %h2= t('.minh_bạch_100')
        %p= t('.mỗi_ủng_hộ_được_gửi_về_dự_án_q')
      .col-md-3
        = link_to t('.Đăng_kí_và_Ủng_hộ'), new_user_registration_path, class: "action-button purple"

- cache("hp_footer", :expires_in => 1.month) do
  .col-md-12.cm-footer
    .col-md-6
      %p
        %b= t('.copy_charity_map_2014')
      %p= t('.charity_map_bản_Đồ_từ_thiện_là')
    .col-md-2
      %p
        %b= t('.about_us')
      %p
        = link_to t('.Đội_ngũ'), pages_about_path
        %br/
        = t('.báo_chí')
        %br/
        = t('.những_con_số')
    .col-md-2
      %p
        %b= t('.tỔ_chỨc_xÃ_hỘi')
      %p
        = link_to t('.hướng_dẫn_sử_dụng'), Configuration[:guide_url], target: "_blank"
        %br/
        = link_to t('.chiến_dịch_gây_quỹ'), Configuration[:campaign_url], target: "_blank"
        %br/
        = link_to t('.câu_hỏi'), Configuration[:faq_url], target: "_blank"
    .col-md-2
      %p
        %b= t('.mẠnh_thƯỜng_quÂn')
      %p
        = link_to t('.phương_thức_Ủng_hộ'), Configuration[:donation_means_url], target: "_blank"
        %br/
        = link_to t('.quy_Định_bảo_mật'), Configuration[:privacy_url], target: "_blank"
        %br/
        = link_to t('.liên_hệ'), Configuration[:contact_url], target: "_blank"

/ .body-container--plain-row
/   .body-container--content
/     .row-fluid
/       .span6{style: "padding-top: 40px;"}
/         .headline Ủng hộ từ thiện chưa bao giờ <br/>dễ dàng đến thế!
/         %p
/         = link_to pages_about_path do
/           .bttn.bttn-green Đọc Thêm
/       .span6
/         = image_tag "ph_homepage-banner.jpg"

/ - unless current_user
/   .body-container--dark-row
/     .body-container--content
/       .row-fluid{style: "margin-top: 10px;"}
/         .span6
/           %p{style: "margin-top: 10px;"}
/             = image_tag "misc/email-icon.png", class: "pull-left", style: "padding-right: 10px;"
/             %b Chỉ tốn 1 phút
/             %br/
/             để đăng ký và bắt đầu ủng hộ
/         = form_tag(new_user_registration_path, :method => :get) do
/           .span4
/             = text_field_tag 'email', nil, placeholder: 'email@example.com', class: 'homepage--email-box'
/           .span2
/             .pull-right
/               #homepage-registration-by-email.bttn.bttn-green
/                 %i.icon-anchor
/                 &nbsp;Đăng Ký
/ - else
/   %hr/

/ .body-container--plain-row
/   .body-container--content
/     .row-fluid{style: "text-align: center;"}
/       = image_tag "misc/closed-beta-msg.jpg"

/ .body-container--plain-row
/   .body-container--content
/     .project-search
/       = form_tag search_projects_path, method: :get do
/         .row-fluid
/           .span8
/             = text_field_tag :query, params[:query], class: "span12 input-box", id: "project_search", autocomplete: "off", placeholder: "Tìm Dự Án"
/           .span4
/             = submit_tag "Tìm", class: "submit"

/ %hr/
/ .body-container--plain-row
/   .body-container--content
/     .row-fluid
/       %p.centered
/         Generously seed funded through a <br/>
/         = link_to "http://piaweb.princeton.edu" do
/           %b Princeton in Asia Carrie Gordon Fellowship<br/><br/>
/           = image_tag "about/pia.jpg"

// :javascript
//   $('#project_search').typeahead({
//     name: "project",
//     prefetch: "/projects/autocomplete"
//   });

/ .body-container--plain-row
/   .body-container--content
/     .row-fluid
/       .pull-left.headline Các Dự Án Đang Gây Quỹ
/       .pull-right
/         = link_to projects_path(:filter => "funding") do
/           .more
/             %i.icon-list-alt
/             Xem tất cả
/     %p
/     .row-fluid
/       - if Project.funding.count > 0
/         - cache("funding_projects", :expires_in => 12.hours) do
/           - Project.funding.each do |project|
/             = render "projects/box_display", :project => project
/       - else
/         Hiện chưa có dự án nào đang gây quỹ.

/ - if Project.finished.count > 0
/   .body-container--plain-row
/     .body-container--content
/       .row-fluid
/         .pull-left.headline Các Dự Án Đã Hoàn Thành
/         .pull-right
/           = link_to projects_path(:filter => "finished") do
/             .bttn.bttn-green
/               %i.icon-list-alt
/               Xem tất cả
/       %p
/       .row-fluid
/         - cache("finished_projects", :expires_in => 1.day) do
/           - Project.finished.each do |project|
/             = render "projects/box_display", :project => project

:javascript
  $('.funding-project-slider').unslider({delay: 5000});
  $('.finished-project-slider').unslider({delay: 10000});

  var unslider = $('.funding-project-slider').unslider();
  $('.unslider-arrow').click(function() {
      var fn = this.className.split(' ')[1];
      //  Either do unslider.data('unslider').next() or .prev() depending on the className
      unslider.data('unslider')[fn]();
  });
