= content_for :head do
  = stylesheet_link_tag    "homepage/animate", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "homepage/home", media: "all", "data-turbolinks-track" => true
  %style 
    body {padding-top: 0 !important}

%section.header-cover
  .header-content
    %header
      = link_to root_path do
        %nav.logo-nav
      %nav.home-nav
        %ul
          %li= link_to "Về Chúng Tôi", pages_about_path
          %li= link_to "Blog", "//blog.charity-map.org"
          - if user_signed_in?
            %li= link_to "Đăng Xuất", destroy_user_session_path, class: "dki"
          - else
            %li= link_to "Đăng Kí", new_user_registration_path, class: "dki"
    .animated.fadeInDown
      %h1 Ủng hộ từ thiện chưa bao giờ dễ dàng đến vậy.
      / %p Với Charity Map bạn có thể blah blah blah & bleh bleh bleh
      - if user_signed_in?
        %span
          = link_to "Đến Trang Quản Lý", dashboard_path, class: "dashboard"
      - else
        = link_to "Đăng nhập bằng Facebook", "users/auth/facebook", class: "facebook"
        %span
          hoặc đăng nhập 
          = link_to "bằng email", new_user_session_path, class: "mail"

%section.partners
  .partners-content.section
    %h2 Các tổ chức tin dùng charity-map.org
    %p
      = link_to "Vì sao bạn nên gây quỹ trên charity-map.org?", pages_about_path
    .partners-list
      %ul
        %li
          = link_to "http://www.charity-map.org/user/38" do
            = image_tag "hp/orgs/chiaseyeuthuong.jpg", class: "img-circle"
            .partner-name
              Chia Sẻ Yêu Thương
        %li
          = link_to "http://www.charity-map.org/user/54" do
            = image_tag "hp/orgs/cauvaixanh.png", class: "img-circle"
            .partner-name
              Cầu Vai Xanh
        %li
          = link_to "http://www.charity-map.org/user/78" do
            = image_tag "hp/orgs/bantaynho.jpg", class: "img-circle"
            .partner-name
              Bàn Tay Nhỏ
        %li
          = link_to "#" do
            = image_tag "hp/orgs/congbangyte.png", class: "img-circle"
            .partner-name
              Công Bằng Y Tế

%section.projects
  .project-content.section.col-md-12
    %h2
      Dự án đang gây quỹ
      / %a{href: ""} tiêu biểu
    - if @funding_projects.empty?
      %p Hiện chưa có dự án nào.
    - else
      .funding-project-slider
        %ul 
          - @funding_projects.each do |project|
            %li 
              .project-details
                .col-md-2
                  = link_to user_profile_path(project.user) do
                    %span= image_tag project.user.avatar_url(:large), class: "img-circle group-ava"
                .col-md-10
                  %strong= link_to project.title, project_path(project)
                  %ul
                    %li
                      %i.glyphicon.glyphicon-user
                      %span= link_to project.user.name, user_profile_path(project.user)
                    %li
                      %i.glyphicon.glyphicon-map-marker
                      %span= project.location
                    %li
                      %i.glyphicon.glyphicon-calendar
                      %span Còn #{(TimeDifference.between(Time.now, project.end_date).in_days).to_i + 1} ngày
                  .donation-funded-wrap
                    .donation-funded{style: "width: #{number_with_precision project.donations_sum * 100/ project.funding_goal, precision: 0}%"}
              .project-goal.col-md-10.col-md-offset-2
                .col-md-6.mota-ngan
                  %span= project.brief.html_safe
                .col-md-4
                  .goal
                    %strong
                      %span= human_currency project.funding_goal
                    .hint MỤC TIÊU

%section.projects
  .project-content.section.col-md-12
    %h2
      Dự án tiêu biểu
      / %a{href: ""} tiêu biểu
    - if @finished_projects.empty?
      %p Hiện chưa có dự án nào.
    - else
      .finished-project-slider
        %ul 
          - @finished_projects.each do |project|
            - if project.success?
              %li
                .project-details
                  .col-md-2
                    = link_to user_profile_path(project.user) do
                      %span= image_tag project.user.avatar_url(:large), class: "img-circle group-ava"
                  .col-md-10
                    %strong= link_to project.title, project_path(project)
                    %ul
                      %li
                        %i.glyphicon.glyphicon-user
                        %span= link_to project.user.name, user_profile_path(project.user)
                      %li
                        %i.glyphicon.glyphicon-map-marker
                        %span= project.location
                      %li
                        %i.glyphicon.glyphicon-calendar
                        %span #{human_time project.end_date}
                    .donation-funded-wrap
                      .donation-funded{style: "width: #{number_with_precision project.donations_sum * 100/ project.funding_goal, precision: 0}%"}
                .project-goal.col-md-10.col-md-offset-2
                  .col-md-6.mota-ngan
                    %span= project.brief.html_safe
                  .col-md-4
                    .goal
                      %strong
                        %span= human_currency project.funding_goal
                      .hint ĐÃ GÂY QUỸ

- cache do
  %section.stats-number
    .stats-number-content
      .section
        %h2 Những con số
        / %p
        /   %a{href: ""} Có gì trên Charity Map?
      / %div{style: "background: #ccc; margin: 30px 0;"}
      /   = line_chart [{:name => "Tiến Độ", :data => platform_funding_progress}], height: "360px"
      %h5
        %span Tổng Quan
      %ul
        %li
          .numbers= Project.public_view.count
          %span.number-tag dự án
        %li
          .numbers= Donation.successful.count + ExtDonation.count
          %span.number-tag mạnh thường quân
        %li
          .numbers= number_with_precision Donation.successful.sum(:amount) + ExtDonation.sum(:amount), precision: 0, delimiter: ","
          %span.number-tag đồng được đóng góp
      %h5
        %span Chi Tiết
      %ul
        %li
          .numbers= ProjectUpdate.count
          %span.number-tag cập nhật
        %li
          .numbers= ProjectUpdate.count * (Donation.count + ExtDonation.where("email IS NOT ?", nil).count)
          %span.number-tag báo cáo qua email
        %li
          .numbers= ProjectUpdate.count * (Donation.count + ExtDonation.where("phone IS NOT ?", nil).count)
          %span.number-tag báo cáo qua sms
        %li
          - sum = 0
          - Project.where(:item_based => true).each {|project| sum += project.donations.successful.sum(:project_reward_quantity)}
          .numbers= sum
          %span.number-tag tặng phẩm được gửi đi

- if !user_signed_in?
  %section.call-action.col-md-12
    .call-action-content
      .col-md-9
        %h2 Chia sẻ tình yêu của bạn
        %p Charity Map tin rằng sức mạnh của hành động chính là chìa khóa để chia sẻ yêu thương
      .col-md-3
        = link_to "Đăng Kí Ngay", new_user_registration_path, class: "action-button purple"

.col-md-12.cm-footer
  .col-md-6
    %p
      %b &copy; CHARITY MAP 2014
    %p Charity Map (Bản Đồ Từ Thiện) là trang web gây quỹ cộng đồng, quản lý quỹ và liên lạc với mạnh thường quân dành cho các dự án xã hội tại Việt Nam. Chúng tôi đặt tính minh bạch và sự tín nhiệm làm tiêu chí hoạt động.
  .col-md-2
    %p
      %b VỀ CHÚNG TÔI
    %p 
      = link_to "Đội Ngũ", pages_about_path
      %br/
      Báo Chí
      %br/
      Những Con Số
  .col-md-2
    %p 
      %b TỔ CHỨC XÃ HỘI
    %p 
      = link_to "Hướng Dẫn Sử Dụng", Configuration[:guide_url], target: "_blank"
      %br/
      = link_to "Chiến Dịch Gây Quỹ", Configuration[:campaign_url], target: "_blank"
      %br/
      = link_to "Câu Hỏi", Configuration[:faq_url], target: "_blank"
  .col-md-2
    %p 
      %b MẠNH THƯỜNG QUÂN
    %p
      = link_to "Phương Thức Ủng Hộ", Configuration[:donation_means_url], target: "_blank"
      %br/
      = link_to "Quy Định Bảo Mật", Configuration[:privacy_url], target: "_blank"
      %br/ 
      = link_to "Liên Hệ", Configuration[:contact_url], target: "_blank"

/ .body-container--plain-row
/   .body-container--content
/     .row-fluid
/       .span6{style: "padding-top: 40px;"}
/         .headline Ủng hộ từ thiện chưa bao giờ <br/>dễ dàng đến thế!
/         %p 
/         = link_to pages_about_path do
/           .bttn.bttn-green Đọc Thêm
/       .span6
/         = image_tag "ph_homepage-banner.jpg"

/ - unless current_user
/   .body-container--dark-row
/     .body-container--content
/       .row-fluid{style: "margin-top: 10px;"}
/         .span6
/           %p{style: "margin-top: 10px;"}
/             = image_tag "misc/email-icon.png", class: "pull-left", style: "padding-right: 10px;"
/             %b Chỉ tốn 1 phút
/             %br/ 
/             để đăng ký và bắt đầu ủng hộ
/         = form_tag(new_user_registration_path, :method => :get) do
/           .span4
/             = text_field_tag 'email', nil, placeholder: 'email@example.com', class: 'homepage--email-box'
/           .span2
/             .pull-right
/               #homepage-registration-by-email.bttn.bttn-green
/                 %i.icon-anchor
/                 &nbsp;Đăng Ký
/ - else
/   %hr/ 

/ .body-container--plain-row
/   .body-container--content
/     .row-fluid{style: "text-align: center;"}
/       = image_tag "misc/closed-beta-msg.jpg"

/ .body-container--plain-row
/   .body-container--content
/     .project-search
/       = form_tag search_projects_path, method: :get do
/         .row-fluid
/           .span8
/             = text_field_tag :query, params[:query], class: "span12 input-box", id: "project_search", autocomplete: "off", placeholder: "Tìm Dự Án"
/           .span4
/             = submit_tag "Tìm", class: "submit"

/ %hr/ 
/ .body-container--plain-row
/   .body-container--content
/     .row-fluid
/       %p.centered
/         Generously seed funded through a <br/>
/         = link_to "http://piaweb.princeton.edu" do
/           %b Princeton in Asia Carrie Gordon Fellowship<br/><br/>
/           = image_tag "about/pia.jpg"

// :javascript
//   $('#project_search').typeahead({
//     name: "project",
//     prefetch: "/projects/autocomplete"
//   });

/ .body-container--plain-row
/   .body-container--content
/     .row-fluid
/       .pull-left.headline Các Dự Án Đang Gây Quỹ
/       .pull-right
/         = link_to projects_path(:filter => "funding") do
/           .more
/             %i.icon-list-alt 
/             Xem tất cả  
/     %p 
/     .row-fluid
/       - if Project.funding.count > 0
/         - cache("funding_projects", :expires_in => 12.hours) do
/           - Project.funding.each do |project|
/             = render "projects/box_display", :project => project
/       - else
/         Hiện chưa có dự án nào đang gây quỹ.

/ - if Project.finished.count > 0
/   .body-container--plain-row
/     .body-container--content
/       .row-fluid
/         .pull-left.headline Các Dự Án Đã Hoàn Thành
/         .pull-right
/           = link_to projects_path(:filter => "finished") do
/             .bttn.bttn-green
/               %i.icon-list-alt
/               Xem tất cả
/       %p 
/       .row-fluid
/         - cache("finished_projects", :expires_in => 1.day) do
/           - Project.finished.each do |project|
/             = render "projects/box_display", :project => project

/ - unless @markers.nil?
/   .body-container--plain-row{:style => "margin-bottom: -90px;"}
/     = render "layouts/map", height: "500px", markers: @markers

:javascript
  $('.funding-project-slider').unslider({delay: 5000});
  $('.finished-project-slider').unslider({delay: 10000});

  var unslider = $('.funding-project-slider').unslider();
  $('.unslider-arrow').click(function() {
      var fn = this.className.split(' ')[1];
      //  Either do unslider.data('unslider').next() or .prev() depending on the className
      unslider.data('unslider')[fn]();
  });