= simple_form_for [@project, @donation] do |f|
  .row-fluid
    .span12
      - if @donation.errors.any?
        #error_explanation
          %h2= "Có #{pluralize(@donation.errors.count, "lỗi")}:"
          %ul
            - @donation.errors.full_messages.each do |msg|
              %li= msg
  .row-fluid
    .span6
      = f.input :project_id, :as => :hidden, :input_html => {:value => @project.id}
      = f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id}
      .sub-headline Số Tiền (VNĐ)
      = f.input :amount, :label => false, :input_html => {:class => "span12 custom-fields"}
      .sub-headline Phương Thức Đóng Góp
      = f.input :collection_method, :label => false, as: :select, collection: [["Thu tiền tại nhà", "COD"], ["Chuyển khoản ngân hàng", "BANK_TRANSFER"]], include_blank: false, :input_html => {:class => "span12"}
    .span6
      .sub-headline Ghi Chú
      = f.input :note, :label => false, :input_html => {:class => "span12 custom-fields", :size => "20x5"}
  .row-fluid
    = f.submit "Tiếp Tục", class: "submit"

:javascript
  $('.reward').on('click', function() {
    console.log($(this).data('amount'));
    $('.reward').css('background-color', '#fff');
    $(this).css('background-color', '#ccc');
    $('#donation_amount').val($(this).data('amount'));
  });