= content_for :head do
  = javascript_include_tag "//www.google.com/jsapi", "chartkick"
  = stylesheet_link_tag    "cm-donation", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "jquery.ui.datepicker", media: "all", "data-turbolinks-track" => true

= render "layouts/item-based/cover.html.haml", project: @project

%section.row.col-md-8.col-md-offset-2
  - if notice || alert
    .row
      .alert.alert-info= notice || alert

  = render("projects/fundraising_project_suggestions", source: "DonationIndex") if @donation

  #chart-details
    / .comment-header.centered
    /   %h1= @project.title
    /   %span.glyphicon.glyphicon-user
    /   = @project.user.name
    /   &sdot;
    /   %span.glyphicon.glyphicon-map-marker
    /   = @project.location
    .row.chart= line_chart [{:name => "Tiến Độ", :data => funding_progress(@project)}, {:name => "Mục Tiêu", :data => {@project.end_date.to_s=>@project.funding_goal.to_i}}], max: @max, height: "300px"
    .row.details
      %ul
        %li.col-md-3
          %strong= @project.donations_count
          %span= t('.mạnh_thường_quân')
        %li.col-md-3
          %strong= t('.number_with_precision_projectd', :number_with_precision_projectd => (number_with_precision @project.donations_sum * 100/ @project.funding_goal, precision: 0))
          %span= t('.mục_tiêu_cần_Đạt')
        %li.col-md-3
          - if @project.start_date < Date.today && @project.end_date > Date.today
            %strong= t('.timedifferencebetweentimenow_p', :timedifferencebetweentimenow_p => ((TimeDifference.between(Time.now, @project.end_date).in_days).to_i))
            %span= t('.thời_gian_còn_lại_ngày')
          - else
            %strong= @project.end_date.strftime("%d/%m")
            %span= t('.kết_thúc_gây_quỹ')
        - if current_user && @project.authorized_edit_for?(current_user)
          %li.col-md-3.donate{"data-target" => "#myModal", "data-toggle" => "modal"}
            %strong
              %i.glyphicon.glyphicon-usd
        - else
          %li.col-md-3.donate
            - if @project.item_based
              = link_to project_path(@project, anchor: "project-rewards") do
                %strong
                  %i.glyphicon.glyphicon-heart
            - else
              = link_to new_project_donation_path(@project) do
                %strong
                  %i.glyphicon.glyphicon-heart
    - if !@donations.empty? || !@ext_donations.empty?
      #list-donations
        %h4= t('.danh_sách_Đóng_góp')
        / .dates
        /   .ago 2 ngày trước
        /   .date Thứ 5, ngày 2 tháng 1

        - @donations.each do |donation|
          = render "layouts/donation_display", donation: donation

        - @ext_donations.order("collection_time DESC").each do |donation|
          .donation-item
            .item-desc
              = t('.human_time_donationcollection_', :human_time_donationcollection_ => (human_time donation.collection_time))
              %a{href: ""}
                .avatar= image_tag "default_avatar.png"
              %strong #{ donation.anon ? "Ẩn Danh" : donation.donor }
              = ủng hộ #{human_currency donation.amount}

              - if donation.collection_method == "COD"
                %a.action{href: ""}
                  .links-right
                    %span.glyphicon.glyphicon-usd
              - else
                %a.action{href: ""}
                  .links-right
                    %span.glyphicon.glyphicon-credit-card

              - if current_user && @project.authorized_edit_for?(current_user)
                = link_to project_ext_donation_path(@project, donation), class: "action", :method => :delete, :data => { :confirm => 'Bạn có chắc xoá ủng hộ ngoài hệ thống này không?'} do
                  .links-right
                    = t('.xoá')
                    / %span.glyphicon.glyphicon-trash
                = link_to edit_project_ext_donation_path(@project, donation), class: "action" do
                  .links-right
                    = t('.sửa')
                    / %span.glyphicon.glyphicon-pencil

  = render "projects/fundraising_project_suggestions", source: "DonationIndex" if !@donation

- if current_user && @project.authorized_edit_for?(current_user)
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}= t('.×')
          %h4#myModalLabel.modal-title= t('.thêm_Ủng_hộ_ngoài_hệ_thống')
        .modal-body
          .note Dự án: #{link_to @project.title, @project}
          = render "ext_donations/form"
        / .modal-footer
        /   %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        /   %button.btn.btn-primary{type: "button"} Save changes

/ - if current_user && ((@project.belongs_to?(current_user)) || (current_user.staff))
/   .row-fluid.sub-headline.righted
/     Sắp xếp theo: &nbsp;
/     = link_to "thời gian", project_donations_path(@project, :sort_by => "updated_at")
/     &sdot;
/     = link_to "phương thức đóng góp", project_donations_path(@project, :sort_by => "collection_method")
/     &sdot;
/     = link_to "khoản đóng góp", project_donations_path(@project, :sort_by => "amount")

/ - cache("project_donations", :expires_in => 1.hour) do
/   - unless params[:sort_by]
/     = render "layouts/donation_display", donations: @donations
/   - else
/     - case params[:sort_by]
/     - when "updated_at"
/       - @donations.each do |key, donation_arr|
/         .updated_at
/           .sub-headline= human_time(key)
/           = render "layouts/donation_display", donations: donation_arr
/         %hr
/     - when "collection_method"
/       - @donations.each do |key, donation_arr|
/         .donation_type
/           .devider
/             .item= human_donation_type(key)
/           = render "layouts/donation_display", donations: donation_arr
/         %hr/
/     - else
/       = render "layouts/donation_display", donations: @donations
/   .clearfix
/ %table.table.table-bordered
/   %tr
/     %th Ngày
/     %th Người Ủng Hộ
/     %th Số Tiền
/     %th Ghi Chú
/     - if current_user && @project.authorized_edit_for?(current_user)
/       %th Lệnh
/ %tr
/   %td= human_time donation.collection_time
/   %td= donation.anon ? "Ẩn Danh" : donation.donor
/   %td #{human_currency donation.amount} #{"(#{human_donation_type donation.collection_method})" unless donation.collection_method.blank?}
/   %td= donation.try(:note)
/   - if current_user && @project.authorized_edit_for?(current_user)
/     %td #{link_to "Sửa", edit_project_ext_donation_path(@project, donation)} &sdot; #{link_to "Xoá", project_ext_donation_path(@project, donation), :method => :delete, :data => { :confirm => 'Bạn có chắc xoá ủng hộ ngoài hệ thống này không?'} }

:javascript
  $(".collection_time").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    dateFormat: 'yy-mm-dd'
  });
  $(".collection_time").click(function(){
    $(".collection_time").datepicker();
  });

- if user_signed_in? && @donation && Rails.env.production?
  = content_for :footer do
    :javascript
      ga('require', 'ecommerce', 'ecommerce.js');
      ga('ecommerce:addTransaction', {
        'id': '#{@donation.euid}',
        'affiliation': '#{@project.title}',
        'revenue': '#{@donation.amount}',
        'currency': 'VND'
      });
      ga('ecommerce:send');
