.body-container--plain-row
  .body-container--content
    - if current_user && ((current_user.projects.exists?(@project) != nil) || (current_user.staff))
      .row-fluid.sub-headline.righted
        Sắp xếp theo: &nbsp;
        = link_to "thời gian", project_donations_path(@project, :sort_by => "updated_at")
        &sdot;
        = link_to "phương thức đóng góp", project_donations_path(@project, :sort_by => "collection_method")
        &sdot;
        = link_to "khoản đóng góp", project_donations_path(@project, :sort_by => "amount")
      %p 
    %table.table.table-bordered
      %tr 
        %th MÃ
        %th DỰ ÁN
        %th SỐ TIỀN / PHƯƠNG THỨC
        %th TRẠNG THÁI
      - cache("project_donations", :expires_in => 1.hour) do
        - unless params[:sort_by]
          - @donations.each do |donation|
            = render "layouts/donation_display", donation: donation
        - else
          - case params[:sort_by]
          - when "updated_at"
            - @donations.each do |key, donation_arr|
              .updated_at
                .sub-headline= human_time(key)
                - donation_arr.each do |donation|
                  = render "layouts/donation_display", donation: donation
              %hr
          - when "collection_method"
            - @donations.each do |key, donation_arr|
              .donation_type 
                .devider
                  .item= human_donation_type(key)
                - donation_arr.each do |donation|
                  = render "layouts/donation_display", donation: donation
              %hr/ 
          - else
            - @donations.each do |donation|
              = render "layouts/donation_display", donation: donation