.body-container--plain-row
  .body-container--content
    / - if current_user && ((@project.belongs_to?(current_user)) || (current_user.staff))
    .row-fluid
      #chart{style: "height: 250px;"}
    - if current_user && @project.authorized_edit_for?(current_user)
      %hr/ 
      .devider
        .item Thêm Ủng Hộ Ngoài Hệ Thống
        .note Dự án: #{link_to @project.title, @project}
      = form_for @ext_donation, url: add_ext_donation_project_donations_path do |f|
        = f.hidden_field :project_id, value: @project.id
        .row-fluid
          .span4
            .sub-headline Người Ủng Hộ *
            = f.text_field :donor, class: "span12"
            .hint (để trống = ẩn danh)
          .span4
            .sub-headline Số Tiền *
            = f.text_field :amount, class: "span12"
            .hint bằng VNĐ
          .span4
            .sub-headline Phương Thức Ủng Hộ
            = f.text_field :collection_method, class: "span12"
            .hint Chuyển khoản NH / Thu tiền tận nơi / khác
        .row-fluid
          .span4
            .sub-headline Email
            = f.text_field :email, class: "span12"
          .span4
            .sub-headline Số ĐT
            = f.text_field :phone, class: "span12"
          .span4
            .sub-headline Ngày Ghi Nhận *
            = f.text_field :collection_time, class: "span12 collection_time"
        .row-fluid
          .span8
            .sub-headline Ghi Chú
            = f.text_area :note, class: "span12"
          .span4.centered
            .sub-headline Kiểm Tra Thông Tin Trước Khi Thêm
            = f.submit "Thêm", class: "submit"

    
    %hr/ 
    .devider
      .item Danh Sách Đóng Góp
      .note Dự án: #{link_to @project.title, @project}
    - if current_user && ((@project.belongs_to?(current_user)) || (current_user.staff))
      .row-fluid.sub-headline.righted
        Sắp xếp theo: &nbsp;
        = link_to "thời gian", project_donations_path(@project, :sort_by => "updated_at")
        &sdot;
        = link_to "phương thức đóng góp", project_donations_path(@project, :sort_by => "collection_method")
        &sdot;
        = link_to "khoản đóng góp", project_donations_path(@project, :sort_by => "amount")

    - cache("project_donations", :expires_in => 1.hour) do
      - unless params[:sort_by]
        = render "layouts/donation_display", donations: @donations
      - else
        - case params[:sort_by]
        - when "updated_at"
          - @donations.each do |key, donation_arr|
            .updated_at
              .sub-headline= human_time(key)
              = render "layouts/donation_display", donations: donation_arr
            %hr
        - when "collection_method"
          - @donations.each do |key, donation_arr|
            .donation_type 
              .devider
                .item= human_donation_type(key)
              = render "layouts/donation_display", donations: donation_arr
            %hr/ 
        - else
          = render "layouts/donation_display", donations: @donations
    .sub-headline Ngoài Hệ Thống
    %table.table.table-bordered
      %tr
        %th Ngày
        %th Người Ủng Hộ
        %th Số Tiền
        %th Ghi Chú
        - if current_user && @project.authorized_edit_for?(current_user)
          %th Lệnh
      - @ext_donations.order("collection_time DESC").each do |donation|
        %tr 
          %td= human_time donation.collection_time
          %td= donation.donor == "Anonymous" ? "Ẩn Danh" : "#{donation.donor}"
          %td #{human_currency donation.amount} #{"(#{donation.collection_method})" unless donation.collection_method.blank?}
          %td= donation.try(:note)
          - if current_user && @project.authorized_edit_for?(current_user)
            %td #{link_to "Xoá", project_ext_donation_path(@project, donation), :method => :delete, :data => { :confirm => 'Bạn có chắc xoá ủng hộ ngoài hệ thống này không?'} }
          
= render "stat"

:javascript
  $(".collection_time").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    dateFormat: 'yy-mm-dd'
  });
  $(".collection_time").click(function(){
    $(".collection_time").datepicker();
  });