= content_for :head do
  = stylesheet_link_tag    "cm-donation", media: "all", "data-turbolinks-track" => true
  / Facebook Conversion Code for New Donation page
  = render 'layouts/conversion_tracking/new_donation_page'

/ = render "layouts/item-based/cover.html.haml", project: @project

.row
  .col-md-10.col-md-offset-1
    - if notice || alert
      .row
        .alert.alert-info= notice || alert
  .col-md-6.col-md-offset-3{style: "text-align: center;"}
    %h1= link_to @project.title, project_path(@project)
    %span.glyphicon.glyphicon-user
    = link_to @project.user.name, user_profile_path(@project.user)
    = t('.sdot')
    %span.glyphicon.glyphicon-map-marker
    = @project.location
    %hr
%section.row.col-md-10.col-md-offset-1
  - if @project.item_based
    = render 'form_for_reward'
  - else
    = render 'form'

.row
  .col-md-6.col-md-offset-3{style: "text-align: center;"}
    %h1= t('.các_câu_hỏi_thường_gặp')
    %hr
.row
  .list-group.col-md-8.col-md-offset-2
    %a.list-group-item{href: "#", style: "padding-top: 20px;"}
      %h4.list-group-item-heading= t('.Ủng_hộ_bằng_cách_nào')
      %p.list-group-item-text Dự án gây quỹ trên Charity Map có thể nhận ủng hộ qua hai kênh: <strong>thu tiền tận nơi</strong> (tình nguyện viên của chúng tôi sẽ liên hệ bạn để tiếp nhận ủng hộ) và <strong>chuyển khoản qua ngân hàng</strong> (thông tin tài khoản ngân hàng của dự án sẽ được email tới <strong>#{current_user.email}</strong> sau khi bạn hoàn tất các bước trên đây). Ngoài ra mạnh thường quân có tài khoản Paypal có thể gửi tiền về charitymap.vn@gmail.com.
    %a.list-group-item{href: "#", style: "padding-top: 20px;"}
      %h4.list-group-item-heading= t('.tôi_có_phải_trả_thêm_phí')
      %p.list-group-item-text= t('.charity_map_strongkhông_thu_ph')
    %a.list-group-item{href: "#", style: "padding-top: 20px;"}
      %h4.list-group-item-heading= t('.bao_giờ_ủng_hộ_của_tôi_đến_đượ')
      %p.list-group-item-text Một tuần sau khi thời gian gây quỹ của dự án kết thúc. <strong>#{@project.title}</strong> sẽ kết thúc việc gây quỹ vào ngày <strong>#{human_time @project.end_date}</strong>.
    %a.list-group-item{href: "#", style: "padding-top: 20px;"}
      %h4.list-group-item-heading= t('.tại_sao_charity_map_không_thu_')
      %p.list-group-item-text= t('.charity_map_hoạt_động_với_tiêu')
.clearfix

:javascript
  $('#cm-header, #cm-logo, #cm-first-menu, #cm-second-menu').addClass('scroll');
