.body-container--plain-row
  .body-container--content
    .devider
      .item
        = Ủng hộ số #{@donation.euid} cho dự án #{limit_display(@project.title, 30)}
      .note
        = link_to project_path(@project) do
          %i.icon-retweet
          = t('.về_lại_trang_dự_án')

    .donation--container
      .margin
      %ul.timeline
        %li.important
          .sub-headline= human_time @donation.created_at
          - if @donation.anon?
            %p Mạnh thường quân <b>(ẩn danh)</b> đóng góp <b>#{human_currency @donation.amount}</b> cho dự án <b>#{@project.title}</b>.
          - else
            %p Mạnh thường quân <b>#{@donation.user.name || @donation.user.id}</b> đóng góp <b>#{human_currency @donation.amount}</b> cho dự án <b>#{@project.title}</b>.
        / - if @donation.status == "SUCCESSFUL"
        %li
          .sub-headline= human_time @donation.updated_at
          %p= t('.hệ_thống_ghi_nhận_đóng_góp_và_')
        /- if @project.status == "FINISHED"
        %li
          .sub-headline= t('.09092013')
          %p Dự án <b>#{@project.title}</b> nhận được 100% số quỹ mục tiêu vào ngày 09/09/2013.
        %li.important
          .sub-headline= human_time @project.end_date
          %p Dự án #{@project.title} kết thúc đợt gây quỹ kéo dài #{(TimeDifference.between(@project.start_date, @project.end_date).in_days).to_i} ngày và nhận được <b>#{human_currency @project.donations_sum}</b> tiền ủng hộ
        - @project.project_updates.each do |update|
          %li
            .sub-headline= human_time update.created_at
            %p= markdown update.content
