.row-fluid
  .span4
    = image_tag "ph_project-thumbnail.jpg"
  .span8
    .row-fluid.bottom-dashed
      .span7
        .project-title= link_to project.title, project_path(project)
        .project-info= project.location
        .project-description= project.description
      .span5
        #{human_currency project.donations.sum(:amount)} / #{human_currency project.funding_goal}
        %br/ 
        #{project.donations.count} MTQ
        %br/
        - if project.start_date < Date.today && project.end_date > Date.today
          Còn #{(TimeDifference.between(Time.now, project.end_date).in_days).to_i} ngày
        - else
          #{human_time(project.start_date)} &mdash; #{human_time(project.end_date)}
    .row-fluid
      .pull-left 
        Trạng Thái:
        = human_project_status(project)
      .pull-right
        - if project.status == "DRAFT"
          = link_to "Chỉnh Sửa", edit_project_path(project)
        - else
          = link_to "Đến Trang Dự Án", project_path(project)