.body-container--plain-row
  .body-container--content
    .bar-display
      .top-bar
        = link_to project_path(project) do
          .project-title.pull-left
            %i.icon-star 
            #{project.title}   &sdot; 
            %i.icon-user
            #{project.user.full_name}
        .project-location.pull-left.righted
          %i.icon-map-marker
          = project.location
      .middle-bar
        .square-box.pull-left
          .upper-part.centered= human_currency project.donations.successful.sum(:amount)
          .lower-part.centered được ủng hộ
        .square-box.pull-left
          .upper-part.centered= number_to_percentage project.donations.successful.sum(:amount) / project.funding_goal, precision: 0
          .lower-part.centered hoàn thành
        .square-box.pull-left
          .upper-part.centered= project.donations.successful.count
          .lower-part.centered mạnh thường quân
        .square-box.pull-left
          .upper-part.centered= project.recommendations.count
          .lower-part.centered giới thiệu
        .rectangle-box.pull-left
          .upper-part.centered= image_tag "ph_donation-bar.jpg"
          .lower-part.centered thống kê lượng ủng hộ
      .bottom-bar.righted
        = human_project_status(project).html_safe
        - if project.status == "DRAFT"
          = link_to "— Chỉnh Sửa", edit_project_path(project)
        - else
          = link_to "— Đến Trang Dự Án", project_path(project)
      .hover-black-box= project.brief
        
:javascript
  // $('.bar-display').hover(
  //   function() {
  //     $(this).find('.hover-black-box').show();
  //   },
  //   function() {
  //     $(this).find('.hover-black-box').hide();
  //   });