#homepage--project-container
  = link_to project_path(project) do
    - if project.photo?
      = image_tag project.photo_url(:thumb)
    - else
      = image_tag "ph_project-thumbnail-bht.jpg"
  .giving-space
    .project-title= link_to project.title, project_path(project)
    .project-info
      %i.icon-user 
      #{limit_display project.user.name || project.user.email.split("@").first, 20}
      &sdot;
      %i.icon-map-marker 
      #{limit_display project.location, 20}
      - if project.recommendations.count > 0
        &sdot;
        %i.icon-thumbs-up
        = project.recommendations.count
  .project-description.giving-space
    - if project.title.length > 30
      = limit_display project.brief.html_safe, 150
    - else
      = project.brief.html_safe
  - @donations_sum, @funding_goal = project.donations_sum, project.funding_goal
  .project-footer-bar
    .row-fluid.giving-space
      .project-progressbar
        .project-progressbar--green{:data_percentage => "#{number_with_precision @donations_sum * 100/ @funding_goal, precision: 0}"}
    .row-fluid.giving-space
      .pull-left{style: "width: 80px;"}
        .project-metric= number_to_percentage @donations_sum * 100 / @funding_goal, precision: 0
        .project-metric--description Hoàn Thành
      - if @donations_sum * 100/ @funding_goal < 0.15
        .pull-left{style: "width: 110px;"}
          .project-metric= human_currency @funding_goal - @donations_sum
          .project-metric--description Cần Kêu Gọi
      - else
        .pull-left{style: "width: 110px;"}
          .project-metric= human_currency @donations_sum
          .project-metric--description Đã Kêu Gọi
      .pull-left{style: "width: 70px;"}
        - if project.end_date > Time.now
          .project-metric= (TimeDifference.between(Time.now, project.end_date).in_days).to_i
          .project-metric--description Ngày Còn Lại
        - else
          .project-metric #{project.end_date.strftime("%d/%m/%Y")}
          .project-metric--description Kết Thúc