.homepage--project-container
  = link_to project_path(project) do
    - if project.photo?
      = image_tag project.photo_url(:thumb)
    - else
      = image_tag "ph_project-thumbnail.jpg"
  .giving-space
    .project-title= link_to project.title, project_path(project)
    .project-info
      %i.icon-user 
      #{project.user.full_name}
      &sdot;
      %i.icon-map-marker 
      #{project.location}
      - if project.recommendations.count > 0
        &sdot;
        %i.icon-thumbs-up
        = project.recommendations.count
  .project-description.giving-space= project.brief.html_safe
  .project-footer-bar
    .row-fluid.giving-space
      .project-progressbar
        .project-progressbar--green{:data_percentage => "#{number_with_precision project.donations.successful.sum(:amount) * 100/ project.funding_goal, precision: 0}"}
    .row-fluid.giving-space
      .pull-left{style: "width: 80px;"}
        .project-metric= number_to_percentage project.donations.successful.sum(:amount) * 100 / project.funding_goal, precision: 0
        .project-metric--description Hoàn Thành
      - if project.donations.successful.sum(:amount) * 100/ project.funding_goal < 0.15
        .pull-left{style: "width: 110px;"}
          .project-metric= human_currency project.funding_goal - project.donations.successful.sum(:amount)
          .project-metric--description Cần Kêu Gọi
      - else
        .pull-left{style: "width: 110px;"}
          .project-metric= human_currency project.donations.successful.sum(:amount)
          .project-metric--description Đã Kêu Gọi
      .pull-left{style: "width: 70px;"}
        .project-metric= (TimeDifference.between(Time.now, project.end_date).in_days).to_i
        .project-metric--description Ngày Còn Lại