.homepage--project-container
  = image_tag "ph_project-thumbnail.jpg"
  .giving-space
    .project-title= link_to project.title, project_path(project)
    .project-info= "#{project.user.full_name} / #{project.location}"
  .project-description.giving-space= project.description[0..200]
  .row-fluid.giving-space
    .project-progressbar
      .project-progressbar--green
      / TODO: set div width using jquery

  .row-fluid.giving-space
    .pull-left{style: "width: 80px;"}
      .project-metric= number_to_percentage project.donations.sum(:amount) / project.funding_goal, precision: 0
      .project-metric--description Hoàn Thành
    .pull-left{style: "width: 110px;"}
      .project-metric= number_to_currency project.donations.sum(:amount), delimiter: ".", precision: 0, unit: "đ"
      .project-metric--description Đã Kêu Gọi
    .pull-left{style: "width: 70px;"}
      .project-metric= (TimeDifference.between(Time.now, project.end_date).in_days).to_i
      .project-metric--description Ngày Còn Lại