.project
  = simple_form_for @project do |f|
    .row-fluid
      - if @project.errors.any?
        #error_explanation
          %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @project.errors.full_messages.each do |msg|
              %li= msg
    %p 
    .row-fluid
      .span9.offset3= image_tag(@project.photo_url(:banner)) if @project.photo?
    .row-fluid
      .span4.sub-headline
        Ảnh Dự Án (660x300px)
      .span8
        = f.file_field :photo
        = f.hidden_field :photo_cache
        = f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id}
    %hr/ 
    .row-fluid
      .span4.sub-headline
        Tên Dự Án
      .span8
        = f.input :title, label: false, :input_html => {:class => "span12"}
    .row-fluid
      .span4.sub-headline
        Giới Thiệu Ngắn Gọn (giới hạn: 200 ký tự)
      .span8
        = f.input :brief, label: false, :input_html => {:class => "span12 brief", :size => "50x5"}
        .brief-length
    .row-fluid
      .span4
        .sub-headline Mô Tả Dự Án
        .hint
          = render "layouts/markdown"

      .span8
        = f.input :description, label: false, :input_html => {:class => "span12 editable", :size => "50x20"}
    .row-fluid
      .span4.sub-headline
        Link Video giới thiệu
      .span8
        = f.input :video, label: false, :input_html => {:class => "span12"}
    .row-fluid
      .span4
        .sub-headline Thông tin Tài khoản Ngân hàng
        .hint
          Điền đầy đủ thông tin:
          %ul 
            %li Tên ngân hàng
            %li Chi nhánh
            %li Địa chỉ ngân hàng
            %li SWIFT CODE
            %li Chủ tài khoản
            %li Số tài khoản
      .span8
        = f.input :bank_info, label: false, :input_html => {:class => "span12"}
    %hr/ 
    .row-fluid
      .span3.sub-headline
        Ngày Bắt Đầu<br/>
        = f.input :start_date, label: false, :as => :string, :input_html => {:class => "start_date"}
      .span3.sub-headline
        Ngày Kết Thúc <br/>
        = f.input :end_date, label: false,   :as => :string, :input_html => {:class => "end_date"}
      .span3.sub-headline
        Số Quỹ Cần Vận Động (VND)<br/>
        = f.input :funding_goal, label: false
      .span3.sub-headline
        Địa Điểm <br/>
        = f.input :location, label: false
    .row-fluid
      .pull-right
        = f.submit "Lưu", class: "submit"

:javascript
  $( document ).ready(function() {
    $(".start_date").datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      dateFormat: 'yy-mm-dd',
      onClose: function( selectedDate ) {
        $( ".end_date" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $(".end_date").datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      dateFormat: 'yy-mm-dd',
      onClose: function( selectedDate ) {
        $(".start_date").datepicker( "option", "maxDate", selectedDate );
      }
    });
    $(".start_date").click(function(){
      $(".start_date").datepicker();
    });
    $(".end_date").click(function(){
      $(".end_date").datepicker();
    });

    $('.project .brief').keyup(function () {
      $('.project .brief-length').css('display', 'block');
      var max = 200;
      var min = 20;
      var len = $(this).val().length;
      if (len >= max) {
        $('.project .brief-length').text('Tối đa 200 ký tự.');
      } else {
        var char = max - len;
        $('.project .brief-length').text('Còn ' + char + ' ký tự');
      }
    });
  });
