- if Project.suggested_fundraising.count > 0
  - cache("fundraising_project_suggestions", :expires_in => 1.day) do
    .row{style: "margin-top: 50px; margin-bottom: 20px;"}
      .medium-title Các Dự Án Đang Gây Quỹ
    %hr/
    .row
      - Project.suggested_fundraising.each do |project|
        - if @project && project != @project
          .col-md-6{style: "margin-top: 20px;"}
            .suggested-projects-wrap{style: ("background-image: url(#{project.photo_url(:banner)});" if project.photo?)}
              .overlay
              .org-avatar{style: "background-image: url(#{project.user.avatar? ? project.user.avatar_url(:medium) : '/assets/ph_project-thumbnail-bht.jpg'}); background-position: center;"}
              .project-title= link_to limit_display(project.title, 20), project_path(project, utm_campaign: "SuggestedOnSite", utm_source: source)
              .project-description
                = link_to limit_display(project.user.name, 25), user_profile_path(project.user)
                &sdot; #{limit_display project.location, 25}