.list-group-item
  .row
    .col-md-2
      = image_tag "default_avatar.png", class: "img-circle group-ava"
      %br/ 
      %br/ 
      .text-center
        = link_to "ỦNG HỘ", "#", class: "donateButton btn btn-warning", :"data-target" => "#donatingOrg", :"data-toggle" => "modal", :"org-name" => org.name, :"org-email" => org.email
    .col-md-10{style: "padding-top: 20px;"}
      %h4.list-group-item-heading= org.name
      %p.list-group-item-text
        %table.table.table-striped 
          %tr 
            %td{style: "width: 50%"} <b>Email</b>: #{org.email}
            %td{style: "width: 25%"} <b>Pháp Nhân</b>: #{org.legal_entity.blank? ? "Có" : "Không"}
            %td{style: "width: 25%"} <b>Thành tập</b>: #{org.try(:year_of_establishment)}
          %tr 
            %td{colspan: 2} <b>Địa Chỉ</b>: #{org.try(:address)}
            %th
              - if !org.website.blank?
                = link_to "Website", "#{org.website}"
              - if !org.facebook.blank?
                &sdot;
                = link_to "Facebook", "#{org.facebook}"
          %tr 
            %td{colspan: 2}
              <b>Liên lạc</b>:<br/>
              #{org.try(:key_contact)}
            %td 
              <b>Đối tượng</b>:<br/>
              %ul
                - org.category.each do |key, value|
                  - if !value.blank?
                    %li #{value}