.body-container--plain-row
  .body-container--content
    %h1 Editing project
    = link_to 'Show', @project
    %hr/ 

    = render 'form'

    %hr/
    .headline Rewards
    .project_rewards
      - @project.project_rewards.each do |reward|
        %p
          - reward.attributes.each do |key, value|
            %b= key.humanize
            = value
            |
    = render 'project_rewards/form'
    = link_to 'Thêm Mốc Tài Trợ', new_project_project_reward_path(@project)

    %hr/
    .headline Updates

    - @project.project_updates.each do |update|
      %p
        - update.attributes.each do |key, value|
          %b= key.humanize
          = value
          |
    
    = link_to 'Thêm Cập Nhật', new_project_project_update_path(@project)

    %hr/
    .headline Cập Nhật Dự Án (sẽ được email tới MTQ)

    - @project.project_updates.each do |update|
      %p
        - update.attributes.each do |key, value|
          %b= key.humanize
          = value
          |
    
    = link_to 'Thêm Cập Nhật', new_project_project_update_path(@project)

    %hr/ 
    .headline Hoan thanh
    = link_to "Gui xet duyet", projects_submit_path(id: @project.id)

:javascript
  $(document).ready(function() {
    return $("#new_project_reward").bind("ajax:success", function(data, status, xhr) {
      var str;
      str = "";
      $.each(status, function(key, value) {
        return str = str + "<b>" + key + ":</b>" + " " + value + " | ";
      });
      return $(".project_rewards").append(str + "</br>");
    }).bind("ajax:failure", function(xhr, status, error) {
      return alert("Action failed.");
    });
  });
