.body-container--plain-row
  .body-container--content
    .project-search
      = form_tag search_projects_path, method: :get do
        .row-fluid
          .span8
            = text_field_tag :query, params[:query], class: "span12 input-box", id: "project_search", autocomplete: "off", placeholder: "Tìm Dự Án"
          .span4
            = submit_tag "Tìm", class: "submit"

.body-container--plain-row
  .body-container--content
    .row-fluid
      .pull-left
        - if params[:filter] && params[:filter] == "funding"
          .headline= t('.các_dự_Án_Đang_gây_quỹ')
        - elsif params[:filter] == "finished"
          .headline= t('.các_dự_Án_Đã_qua_Đợt_gây_quỹ')
        - else
          .headline= t('.các_dự_Án_trên_hệ_thống')
      .pull-right
        = link_to new_project_path do
          .more
            %i.icon-plus
            = t('.Đăng_ký_dự_Án')
    %hr
    .row-fluid
      - @projects.each do |project|
        = render "projects/box_display", :project => project

    - if (current_user && current_user.staff && @pending)
      .headline= t('.Đang_Đợi_xét_duyệt_admin_only')
      %hr/
      .row-fluid
        - @pending.each do |pending|
          .pull-left
            = render "projects/box_display", :project => pending

- unless @markers.nil?
  .body-container--plain-row{:style => "margin-bottom: -90px;"}
    = render "layouts/map", height: "500px", markers: @markers

:javascript
  $('#project_search').typeahead({
    name: "project",
    prefetch: "/projects/autocomplete"
  });
