- if current_user && current_user.projects.exists?(@project)
  .body-container--plain-row
    .body-container--content
      .notice Trạng thái: #{human_project_status(@project).html_safe}
    
.project-show
  .body-container--plain-row
    .body-container--content
      %p
        .pull-right
          - if current_user && current_user.projects.exists?(@project)
            = link_to edit_project_path(@project) do
              .more
                %i.icon-edit-sign
                Chỉnh Sửa
        .top-title.centered= @project.title
        .top-creator-and-location.centered
          %i.icon-user 
          <b>#{@project.user.full_name}</b> &nbsp;
          %i.icon-map-marker 
          <b>#{@project.location}</b>

  .body-container--plain-row
    .body-container--content
      .side-bar
        #donation-box.container
          .figure.righted
            .number= human_currency @project.funding_goal
            .description
              Mục tiêu
          .figure.righted
            .number= human_currency @project.donations.successful.sum(:amount)
            .description
              Số tiền nhận được
          .figure.righted 
            - if @project.start_date < Date.today && @project.end_date > Date.today
              .number Còn #{(TimeDifference.between(Time.now, @project.end_date).in_days).to_i} ngày
              .description
                %i.icon-time
                Thời gian gây quỹ
            - else
              .number #{human_time(@project.start_date)} &mdash; #{human_time(@project.end_date)}
              .description
                %i.icon-time
                Thời gian gây quỹ
          .row-fluid
            = link_to new_project_donation_path(@project) do
              .span12.donate-bttn
                Ủng Hộ Dự Án
            
          .cleared
          %hr
          #project_follow
            - if current_user && !@project.project_follows.where(user_id: current_user.id).empty?
              .row-fluid
                .sub-headline.centered Bạn đang theo dõi dự án này
            - else
              = link_to initiate_project_project_follows_path(@project), remote: true do
                .row-fluid
                  .span12.donate-bttn
                    Theo Dõi

        .container
          .heading-bar
            .sub-headline Cá Nhân / Tổ Chức
          .row-fluid
            .user-profile
              .avatar
                - if @user.avatar? 
                  = image_tag(@user.avatar_url(:medium), size: "30x30") 
                - else
                  = image_tag("default_avatar.png", size: "30x30")
              .user-info
                .name #{link_to @user.full_name, user_profile_path(@user)}
                .des-2
                  %i.icon-map-marker 
                  #{@user.city} 
                .des-1 
                  - if @user.donations.successful.count > 0
                    Đã ủng hộ #{@user.donations.successful.count} dự án 
              
        .container
          - cache("project_rewards", :expires_in => 1.hour) do
            .heading-bar
              .sub-headline Đề Mục Ủng Hộ
            - @project.project_rewards.each do |reward|
              .row-fluid
                = link_to new_project_donation_path(@project, amount: reward.amount.to_i) do
                  %h4 Ủng hộ #{human_currency reward.amount} hoặc hơn
                %p= reward.description
        .container
          .heading-bar
            .sub-headline #{link_to "Lời Giới Thiệu", project_recommendations_path(@project)} (#{@project.recommendations.count})
          - @project.recommendations.each do |rec|
            .row-fluid
              .recommendation--user-info
                .user-profile
                  .avatar
                    - if rec.user.avatar? 
                      = image_tag(rec.user.avatar_url(:small), size: "30x30")
                    - else
                      = image_tag("default_avatar.png", size: "30x30")
                  .user-info
                    .name= rec.user.full_name
                    .des-1
                      %i.icon-time 
                      = human_time rec.updated_at
              .cleared
              %p 
                #{rec.content}
                - if (current_user) && (rec.user == current_user)
                  = link_to "[Edit]", edit_project_recommendation_path(@project, rec), class: "edit_recommendation"
          .row-fluid
            .pull-right
              = link_to new_project_recommendation_path(@project) do
                .more Viết Lời Giới Thiệu
          .cleared

        .container
          .heading-bar
            .sub-headline #{link_to "Ủng Hộ", project_donations_path(@project)} (#{@project.donations.successful.count})
          - cache("project_donations", :expires_in => 1.hour) do
            - @project.donations.successful[0..4].each do |donation|
              %p #{link_to human_time(donation.created_at), project_donation_path(@project, donation)} &mdash; #{donation.user.full_name} ủng hộ #{human_currency donation.amount} cho dự án #{@project.title} bằng hình thức #{human_donation_type donation.collection_method}
          - if @project.donations.count > 5
            .row-fluid
              .pull-right
                = link_to project_donations_path(@project) do
                  .more Xem Thêm

      .photo-box
        = image_tag @project.photo_url(:banner), size: "658x230"
      .bordered-box
        %p= markdown @project.description
        .devider
          .item
            %i.icon-list-alt
            &nbsp;Cập Nhật Dự Án
          - if current_user && current_user.projects.exists?(@project)
            .note &sdot; #{link_to 'Thêm Cập Nhật', new_project_project_update_path(@project)} (sẽ được email tới MTQ)
        - cache("project_updates", :expires_in => 12.hours) do
          #project_updates
            - if @project.project_updates.empty?
              %p Hiện chưa có cập nhật nào.
            - else
              - @project.project_updates.each do |update|
                .row-fluid
                  %h4 #{link_to "#{human_time update.updated_at}", project_project_update_path(@project, update)}
                  %p 
                    #{update.content}
                    - if current_user && current_user.projects.exists?(@project)
                      = link_to "[Edit]", edit_project_project_update_path(@project, update)

        .devider
          .item
            %i.icon-comments
            &nbsp;Bình Luận
        - if current_user
          .row-fluid
            .span12
              .sub-headline Gõ Bình Luận Của Bạn Vào Khung Dưới Đây
              = simple_form_for [@project, @new_comment] do |f|
                - if @new_comment.errors.any?
                  #error_explanation
                    %h2= "#{pluralize(@new_comment.errors.count, "error")} prohibited this project from being saved:"
                    %ul
                      - @new_project.errors.full_messages.each do |msg|
                        %li= msg

                = f.input       :project_id, :as => :hidden, :input_html => {:value => @project.id}
                = f.input       :user_id, :as => :hidden, :input_html => {:value => current_user.id}
                = f.input       :content, :label => false, :input_html => {:class => "span12"}
                = f.submit "Gửi", class: "submit"
        .row-fluid#project_comments
          %hr/
          - @project.project_comments.each do |comment|
            = render "project_comments/display", :comment => comment

:javascript
  $(document).ready(function(){
    $("#donation-box").sticky({topSpacing:0});
  });