- if @project.unlisted
  = content_for  :head do
    %meta{content: "NOINDEX, NOFOLLOW, NOARCHIVE", name: "ROBOTS"}/

= content_for  :head do
  %meta{property: "og:image", content: "#{@project.photo_url(:thumb)}"}/
  %meta{property: "og:description", content: "#{@project.brief}"}/

- if current_user && @project.belongs_to?(current_user)
  .body-container--plain-row
    .body-container--content
      .notice Trạng thái: #{human_project_status(@project).html_safe}

.project-show
  .body-container--plain-row{style: "padding-bottom: 0;"}
    .body-container--content
      %p
        .pull-right
          - if current_user && @project.belongs_to?(current_user)
            = link_to edit_project_path(@project) do
              .more
                %i.icon-edit-sign
                Chỉnh Sửa
          - if current_user && @project.belongs_to?(current_user) && (@project.status == "DRAFT")
            = link_to projects_submit_path(id: @project.id) do
              .more{style: "margin-left: 10px;"}
                %i.icon-rocket
                Tiến Hành Gây Quỹ
        .top-title.centered= @project.title
        .top-creator-and-location.centered
          %i.icon-map-marker 
          <b>#{@project.location}</b>

  .body-container--plain-row{style: "margin-bottom: -10px;"}
    .body-container--content
      .show-project--navigation
        = link_to root_path do
          %div.box{class:("active" unless params[:filter])}
            %i.icon-home 
            Thông Tin
        = link_to "#project_updates" do
          %div.box{class:("active" if params[:filter] == "updates")}
            %i.icon-rss
            Cập Nhật #{"(#{@project.project_updates.count})" if @project.project_updates.count > 0}
        = link_to project_donations_path(@project) do
          %div.box{class:("active" if params[:filter] == "donors")}
            %i.icon-user
            Mạnh Thường Quân #{"(#{@project.donations_count})" if @project.donations_count > 0}
        = link_to "#project_comments" do
          %div.box{class:("active" if params[:filter] == "comments")}
            %i.icon-comment
            Bình Luận #{"(#{@project.project_comments.count})" if @project.project_comments.count > 0}
          
  .body-container--plain-row
    .body-container--content
      .side-bar
        = render "projects/side_bar/metrics_box", project: @project

        .container
          .heading-bar
            .sub-headline Cá Nhân / Tổ Chức
          .row-fluid
            .user-profile
              .avatar
                - if @user.avatar? 
                  = image_tag(@user.avatar_url(:medium), size: "30x30") 
                - else
                  = image_tag("default_avatar.png", size: "30x30")
              .user-info
                .name #{link_to @user.name, user_profile_path(@user)}
                .des-2
                  %i.icon-map-marker 
                  #{limit_display @project.location, 27}
              
        .container
          - cache("project_rewards", :expires_in => 1.hour) do
            .heading-bar
              .sub-headline Đề Mục Ủng Hộ
            - @project.project_rewards.each do |reward|
              .row-fluid
                %p 
                  = link_to new_project_donation_path(@project, amount: reward.value.to_i) do
                    %b Ủng hộ #{human_currency reward.value} hoặc hơn
                  %br/
                  = reward.description
        - unless (!user_signed_in?) && @project.recommendations.empty?
          .container
            = render "projects/side_bar/reviews", project: @project
            .cleared

        - unless (!user_signed_in?) && @project.donations.empty?
          .container
            .heading-bar
              .sub-headline #{link_to "Ủng Hộ", project_donations_path(@project)}
            - cache("project_donations", :expires_in => 1.hour) do
              - @project.donations.successful[0..4].each do |donation|
                %p <b>#{link_to human_time(donation.created_at), project_donations_path(@project)}</b> &sdot; #{donation.anon ? "Ẩn Danh" : donation.user.name} ủng hộ #{human_currency donation.amount} (#{human_donation_type donation.collection_method})
            - if @project.donations.count > 5
              .row-fluid
                .pull-right
                  = link_to project_donations_path(@project) do
                    .more Xem Thêm
      .photo-box
        = image_tag @project.photo_url(:banner), size: "658x305" if @project.photo?
      .bordered-box
        .main-project-description
          %p 
            - if @project.item_based
              - @project.project_rewards.each do |reward|
                .row-fluid
                  %h4= link_to "#{reward.name}", new_project_donation_path(@project, project_reward_id: reward.id)
                  &sdot; #{human_currency reward.value} &sdot; SL: #{reward.quantity}
                  %p= markdown reward.description
          %p= markdown @project.description
        / %hr/ 
        / %p Lượt Xem: #{@project.impressionist_count}
        .devider
          .item
            %i.icon-list-alt
            &nbsp;Cập Nhật Dự Án
          - if current_user && @project.belongs_to?(current_user)
            .note &sdot; #{link_to 'Thêm Cập Nhật', new_project_project_update_path(@project)}
        #project_updates
          - if @project.project_updates.empty?
            %p Hiện chưa có cập nhật nào.
          - else
            - @project.project_updates.each do |update|
              .row-fluid
                .sub-headline #{human_time update.updated_at}
                %h4 #{link_to update.title, project_project_update_path(@project, update)}

                %p 
                  #{markdown update.content.html_safe}
                  - if current_user && @project.belongs_to?(current_user)
                    = link_to "[Edit]", edit_project_project_update_path(@project, update)

        .devider
          .item
            %i.icon-comments
            &nbsp;Bình Luận
        - if current_user
          .row-fluid
            .span12
              .sub-headline Gõ Bình Luận Của Bạn Vào Khung Dưới Đây
              = simple_form_for [@project, @new_comment] do |f|
                - if @new_comment.errors.any?
                  #error_explanation
                    %h2= "#{pluralize(@new_comment.errors.count, "error")} prohibited this project from being saved:"
                    %ul
                      - @new_project.errors.full_messages.each do |msg|
                        %li= msg

                = f.input       :project_id, :as => :hidden, :input_html => {:value => @project.id}
                = f.input       :user_id, :as => :hidden, :input_html => {:value => current_user.id}
                = f.input       :content, :label => false, :input_html => {:class => "span12"}
                = f.submit "Gửi", class: "submit"
        .row-fluid#project_comments
          %hr/
          - @project.project_comments.each do |comment|
            = render "project_comments/display", :comment => comment

        

// :javascript
//   $(document).ready(function(){
//     $("#donation-box").sticky({topSpacing:0});
//   });