- if current_user && current_user.projects.exists?(@project)
  .body-container--plain-row
    .body-container--content
      .notice Trạng thái: #{human_project_status @project}

.project-show
  .body-container--plain-row
    .body-container--content
      %p
        .pull-right
          - if current_user && current_user.projects.exists?(@project)
            = link_to edit_project_path(@project) do
              .more Chỉnh Sửa
        .top-title.centered= @project.title
        .top-creator-and-location.centered thực hiện bởi <b>#{@project.user.full_name}</b> tại <b>#{@project.location}</b>

  .body-container--plain-row
    .body-container--content
      .side-bar
        .container 
          .figure.righted
            .number= human_currency @project.funding_goal
            .description Mục tiêu
          .figure.righted
            .number= human_currency @project.donations.successful.sum(:amount)
            .description Số tiền nhận được
          .figure.righted 
            - if @project.start_date < Date.today && @project.end_date > Date.today
              .number #{(TimeDifference.between(Time.now, @project.end_date).in_days).to_i} ngày
              .description Thời gian gây quỹ
            - else
              .number #{human_time(@project.start_date)} &mdash; #{human_time(@project.end_date)}
              .description Thời gian gây quỹ
          .row-fluid
            = link_to new_project_donation_path(@project) do
              .span12.donate-bttn Ủng Hộ Dự Án
        .container
          .sub-headline Đề Mục Ủng Hộ
          - @project.project_rewards.each do |reward|
            .row-fluid
              = link_to new_project_donation_path(@project) do
                %h4 Ủng hộ #{human_currency reward.amount} hoặc hơn
              %p= reward.description
        .container
          .sub-headline Lời Giới Thiệu (#{@project.recommendations.count})
          - @project.recommendations.each do |rec|
            .row-fluid
              .recommendation--user-info
                .avatar.pull-left
                  = image_tag(rec.user.avatar_url(:small)) if rec.user.avatar? 
                .user-info.pull-left
                  .full_name= link_to rec.user.full_name, user_profile_path(rec.user)
                  .sub-headline= human_time rec.updated_at
              .cleared
              %p 
                #{rec.content}
                - if (current_user) && (rec.user == current_user)
                  = link_to "[Edit]", edit_project_recommendation_path(@project, rec), class: "edit_recommendation"
          .row-fluid
            .pull-right
              = link_to new_project_recommendation_path(@project) do
                .more Viết Lời Giới Thiệu
          .cleared

        .container
          .sub-headline Cập Nhật (#{@project.project_updates.count})
          - @project.project_updates.each do |update|
            .row-fluid
              %h4 #{link_to "#{human_time update.updated_at}", project_project_update_path(@project, update)}
              %p 
                #{update.content}
                - if current_user && current_user.projects.exists?(@project)
                  = link_to "[Edit]", edit_project_project_update_path(@project, update)
            - if current_user && current_user.projects.exists?(@project)
              .row-fluid
                .pull-right
                  = link_to new_project_project_update_path(@project) do
                    .more Thêm Cập Nhật
            .cleared

        .container
          .sub-headline Ủng Hộ (#{@project.donations.count})
          - @project.donations.each do |donation|
            %p #{human_time donation.created_at} &mdash; #{donation.user.full_name} ủng hộ #{human_currency donation.amount} cho dự án #{@project.title} bằng hình thức #{human_donation_type donation.collection_method}
                

        
      .photo-box
        = image_tag @project.photo_url(:banner), size: "658x230"
      .bordered-box
        %p= markdown @project.description