= content_for :head do
  %meta{property: "og:image", content: "#{@project.photo_url(:thumb)}"}/
  %meta{property: "og:description", content: "#{@project.brief}"}/
  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

.overlay.proj-cover{style: "background-image: url('#{@project.photo_url(:banner)}')"}
  .overlay
%header.proj-header.row.col-md-8.col-md-offset-2
  .proj-title
    .text-shadow= @project.title
    / .row
    /   .col-md-6{style: "text-align: right;"}
    /     %span
    /     - if @user.avatar? 
    /       = image_tag(@user.avatar_url(:medium), class: "img-circle group-ava")
    /     - else
    /       = image_tag("ph_project-thumbnail.jpg", class: "img-circle group-ava")
    /   .col-md-6{style: "text-align: left;"}
    /     #{link_to @user.name, user_profile_path(@user)}
    /     %br/ 
    /     %span.glyphicon.glyphicon-map-marker
    /     = @project.location
    / .group-details
    /   %span
    /     - if @user.avatar? 
    /       = image_tag(@user.avatar_url(:large), class: "img-circle group-ava")
    /     - else
    /       = image_tag("ph_project-thumbnail.jpg", class: "img-circle group-ava")
    /   %h1 #{link_to @user.name, user_profile_path(@user)}
    /   %span.quote "#{@project.brief}"
  %nav.navbar.proj-details{role: "navigation"}
    .row.col-md-8.clearfix
      %ul.nav.navbar-nav.project-links
        %li= link_to "Thông Tin", project_path(@project), class: "active"
        %li
          = link_to project_project_updates_path(@project) do
            Cập Nhật #{"(#{@project.project_updates.count})" if @project.project_updates.count > 0}
        %li
          = link_to project_donations_path(@project) do
            Mạnh Thường Quân #{"(#{@project.donations_count})" if @project.donations_count > 0}
        %li
          = link_to project_project_comments_path(@project) do
            Bình Luận #{"(#{@project.project_comments.count})" if @project.project_comments.count > 0}
        / - if current_user && @project.belongs_to?(current_user)
        /   %li= link_to "Chỉnh Sửa", edit_project_path(@project), style: "color: #3498db !important;"
%section.content.row.col-md-8.col-md-offset-2{style: "margin-top: 30px;"}
  - if notice || alert
    .row
      .alert.alert-info= notice || alert
  .group-details
    .row
      .col-md-2.text-center
        = link_to user_profile_path(@user) do
          %span
            - if @user.avatar? 
              = image_tag(@user.avatar_url(:large), class: "img-circle group-ava")
            - else
              = image_tag("ph_project-thumbnail.jpg", class: "img-circle group-ava")
      .col-md-10
        %span.quote= @project.brief

  = render "projects/side_bar/metrics_box", project: @project
  %p#project-info= markdown @project.description
  %ul#project-rewards.products.row
    - if @project.item_based
      - @project.project_rewards.each do |reward|
        .col-md-3
          %li.item
            = link_to new_project_donation_path(@project, project_reward_id: reward.id) do
              %img{alt: "Áo thun", src: "http://cdn.shopify.com/s/files/1/0167/4484/products/mountains-1_e6de688a-2825-4b57-8635-ff9ae796b25a_large.jpeg?v=1384830567"}/
              .item-desc.text-center
                %span.price= human_currency reward.value
                %hr/
                %span.name= reward.name
                %span.qtt= reward.quantity
