.body-container--plain-row
  .body-container--content

    - if @project.status == "DRAFT" || @project.status == "PENDING"
      .notice Trạng thái: #{human_status @project}
    
    .row-fluid
      = link_to new_project_donation_path(@project) do
        .bttn.bttn-blue Ủng Hộ

    - @project.attributes.each do |key, value|
      %p 
        %b= key.humanize
        = value
    
    .headline Reward 
    %hr/ 
    - @project.project_rewards.each do |reward|
      - reward.attributes.each do |key, value|
        %p
          %b= key.humanize
          = value

    .headline Updates
    %hr/
    - @project.project_updates.each do |update|
      - update.attributes.each do |key, value|
        %p
          %b= key.humanize
          = value
          
    - if current_user && current_user.projects.exists?(@project)
      = link_to 'Edit', edit_project_path(@project)
