%p#notice= notice

%p
  %b= t('.recipient_email')
  = @gift_card.recipient_email
%p
  %b= t('.amount')
  = @gift_card.amount
%p
  %b= t('.references')
  = @gift_card.references

= link_to t('.edit'), edit_dashboard_gift_card_path(@gift_card)
= \t('.')
= link_to t('.back'), dashboard_gift_cards_path
