.body-container--plain-row
  .body-container--content
    .devise--container
      .heading-bar.centered
        %h1 Đăng nhập
        %p Chưa có tài khoản? <strong>#{link_to "Đăng ký", new_user_registration_path}</strong>.
      .body-bar.centered
        - resource_class.omniauth_providers.each do |provider|
          = link_to omniauth_authorize_path(resource_name, provider, card_token: (params[:card_token].upcase if params[:card_token])) do
            .facebook-login Đăng Nhập Bằng Facebook
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .body-bar{:style => "border-top: 1px solid #ccc;"}
          .form-inputs
            = hidden_field_tag "card_token", params[:card_token].upcase if params[:card_token]
            %p 
              %b Email
              = f.input :email, :required => false, :autofocus => true, label: false
            .pull-left
              %p 
                %b Password
            .pull-right
              %p= link_to "Quên Mật Khẩu?", new_user_password_path
            = f.input :password, :required => false, label: false
            / = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
        .cleared
        .body-bar
          = f.button :submit, "Đăng Nhập", :class => "submit"