.row.donation-stats
  .donation-funded-wrap
    .donation-funded{style: "width: #{number_with_precision project.donations_sum * 100/ project.funding_goal, precision: 0}%"}
  .donation-stats.row
    .col-md-4
      .funded
        %strong
          %span= human_currency project.funding_goal
        .hint= t('.mỤc_tiÊu')
    .col-md-4
      .raised
        %strong
          %span= human_currency project.donations_sum
        .hint= t('.ĐÃ_nhẬn_ĐƯỢc')
    .col-md-4
      .deadline
        - if project.start_date < Time.now && project.end_date > Time.now
          %strong
            %span #{(TimeDifference.between(Time.now, project.end_date).in_days).to_i + 1} NGÀY
          .hint= t('.thỜi_gian_cÒn_lẠi')
        - elsif project.start_date > Date.today.end_of_day
          %strong
            %span= human_time(project.start_date)
          .hint= t('.bẮt_ĐẦu_gÂy_quỸ')
        - elsif project.end_date < Date.today.end_of_day
          %strong
            %span= human_time(project.end_date - 1)
          .hint= t('.kẾt_thÚc_gÂy_quỸ')
  .row.text-center.action-box
    - if @project.accepting_donations?
      - if @project.item_based
        = link_to project_path(@project, anchor: "project-rewards") do
          %button.col-md-3.btn.btn-success.btn-lg{type: "button"}
            %span.glyphicon.glyphicon-gift
            = t('.nbspủng_hộ_dự_án')
      - else
        = link_to new_project_donation_path(@project) do
          %button.col-md-3.btn.btn-success.btn-lg{type: "button"}
            %span.glyphicon.glyphicon-gift
            = t('.nbspủng_hộ_dự_án')
    - else
      %button.col-md-3.btn.btn-success.disabled.btn-lg{type: "button"}
        %span.glyphicon.glyphicon-gift
        = t('.nbspđang_không_gây_quỹ')
    - if current_user && !project.project_follows.where(user_id: current_user.id).empty?
      = render "project_follows/following_button"
    - else
      = link_to initiate_project_project_follows_path(project), remote: true do
        %button#project_follow.col-md-offset-1.col-md-3.btn.btn-default.btn-lg{type: "button"}
          %span.glyphicon.glyphicon-list-alt
          = t('.nbspnhận_cập_nhật')
    .col-md-2.btn.col-md-offset-1
      .fb-like{"data-action" => "like", "data-colorscheme" => "light", "data-height" => "The pixel height of the plugin", "data-href" => "#{Configuration[:site_url]}/projects/#{project.slug}", "data-layout" => "standard", "data-send" => "false", "data-show-faces" => "false", "data-width" => "The pixel width of the plugin"}
