.row.donation-stats
  .donation-funded-wrap
    .donation-funded{style: "width: #{number_with_precision project.donations_sum * 100/ project.funding_goal, precision: 0}%"}
  %ul.donation-stats.row
    .col-md-4
      %li.funded
        %strong
          %span= human_currency project.funding_goal
        .hint MỤC TIÊU
    .col-md-4
      %li.raised
        %strong
          %span= human_currency project.donations_sum
        .hint ĐÃ NHẬN ĐƯỢC
    .col-md-4
      %li.deadline
        - if project.start_date < Date.today && project.end_date > Date.today
          %strong
            %span #{(TimeDifference.between(Time.now, project.end_date).in_days).to_i} NGÀY
          .hint THỜI GIAN CÒN LẠI
        - else
          %strong
            %span #{human_time(project.start_date)} &mdash; #{human_time(project.end_date)}
          .hint THỜI GIAN GÂY QUỸ
  .row.text-center.action-box
    - if @project.accepting_donation?
      - if @project.item_based
        = link_to project_path(@project, anchor: "project-rewards") do
          %button.col-md-3.btn.btn-success.btn-lg{type: "button"}
            %span.glyphicon.glyphicon-gift
            &nbsp;ủng hộ dự án
      - else
        = link_to new_project_donation_path(@project) do
          %button.col-md-3.btn.btn-success.btn-lg{type: "button"}
            %span.glyphicon.glyphicon-gift
            &nbsp;ủng hộ dự án
    - else
      %button.col-md-3.btn.btn-success.disabled.btn-lg{type: "button"}
        %span.glyphicon.glyphicon-gift
        &nbsp;đang không gây quỹ
    - if current_user && !project.project_follows.where(user_id: current_user.id).empty?
      %button.col-md-offset-1.col-md-3.btn.btn-default.disabled.btn-lg{type: "button"}
        %span.glyphicon.glyphicon-ok
        &nbsp;đang nhận cập nhật
    - else
      = link_to initiate_project_project_follows_path(project) do
        %button.col-md-offset-1.col-md-3.btn.btn-default.btn-lg{type: "button"}
          %span.glyphicon.glyphicon-list-alt
          &nbsp;nhận cập nhật
    .col-md-2.btn.col-md-offset-1
      .fb-like{"data-action" => "like", "data-colorscheme" => "light", "data-height" => "The pixel height of the plugin", "data-href" => "#{Configuration[:site_url]}/projects/#{project.slug}", "data-layout" => "standard", "data-send" => "false", "data-show-faces" => "false", "data-width" => "The pixel width of the plugin"}