= simple_form_for [@project, @project_reward] do |f|
  .row-fluid
    - if @project_reward.errors.any?
      #error_explanation
        %h2= "#{pluralize(@project_reward.errors.count, "error")} prohibited this project from being saved:"
        %ul
          - @project_reward.errors.full_messages.each do |msg|
            %li= msg
  - if @project.item_based
    .row-fluid
      .span4
        = f.input :project_id, :as => :hidden, :input_html => {:value => @project.id}
        .sub-headline Tên<br/>
        = f.input :name, label: false, :input_html => {:class => "span12"}
      .span4
        .sub-headline Mức (VNĐ) <br/>
        = f.input :value, label: false, :input_html => {:class => "span12"}
      .span4
        .sub-headline Số Lượng (Cái) <br/>
        = f.input :quantity, label: false, :input_html => {:class => "span12"}
    .row-fluid
      .span12
        .sub-headline Thông Tin / Điều Khoản / Quyền Lợi Thêm <br/>
        / TODO: Add examples
        = f.input :description, label: false, :input_html => {:class => "span12"}
    .row-fluid
      .span12
        .sub-headline Ảnh (175 x 175px)
        = f.file_field :photo
        = f.hidden_field :photo_cache 
  - else
    .row-fluid
      .span12
        .sub-headline Mức (VNĐ) <br/>
        = f.input :value, label: false, :input_html => {:class => "span12"}
    .row-fluid
      .span12
        .sub-headline Thông Tin / Điều Khoản / Quyền Lợi Thêm <br/>
        / TODO: Add examples
        = f.input :description, label: false, :input_html => {:class => "span12"}
  .row-fluid
    .pull-right= f.submit "Lưu", class: "submit"