.devider
  .item Đề Mục Đóng Góp
  .note Dự án: #{link_to @project.title, project_path(@project)}

- unless @project.project_rewards.empty?
  .row-fluid
    #chart{style: "height: 250px;"}
- else
  %p Hiện chưa có đề mục đóng góp nào được ghi nhận.

%hr/ 

- if @project.item_based
  - @project_rewards.each do |reward|
    .row-fluid
      .pull-right
        .more      
          = link_to edit_project_project_reward_path(@project, reward) do
            %i.icon-edit
            Sửa
        = link_to project_project_reward_path(@project, reward), method: :delete do
          %i.icon-minus-sign
          Xoá
      %h4= reward.name
      &sdot; #{human_currency reward.value} &sdot; SL: #{reward.quantity}
      %p= markdown reward.description
- else
  - @project_rewards.each do |reward|
    .row-fluid
      .pull-right
        .more      
          = link_to edit_project_project_reward_path(@project, reward) do
            %i.icon-edit
            Sửa
        = link_to project_project_reward_path(@project, reward), method: :delete do
          %i.icon-minus-sign
      %h4 #{human_currency reward.value} 
      %p= markdown reward.description

.devider
  .item
    %i.icon-money 
    Thêm Đề Mục Đóng Góp
  .note &sdot; thấp nhất 10.000đ
= render "form"

= render "popularity"