.devider
  .item Đề Mục Đóng Góp
  .note Dự án: #{link_to @project.title, project_path(@project)}

.row-fluid
  #chart{style: "height: 250px;"}

%hr/ 

- @project_rewards.each do |reward|
  .row-fluid
    %h4= human_currency reward.amount
    %p 
      #{markdown reward.description}
  %hr/ 

.devider
  .item
    %i.icon-money 
    Thêm Đề Mục Đóng Góp
  .note &sdot; thấp nhất 10.000đ
= simple_form_for [@project, @project_reward] do |f|
  .row-fluid
    - if @project_reward.errors.any?
      #error_explanation
        %h2= "#{pluralize(@project_reward.errors.count, "error")} prohibited this project from being saved:"
        %ul
          - @project_reward.errors.full_messages.each do |msg|
            %li= msg
  .row-fluid
    .span3
      = f.input :project_id, :as => :hidden, :input_html => {:value => @project.id}
      .sub-headline Mức (VNĐ) <br/>
      = f.input :amount, label: false, :input_html => {:class => "span12"}
    .span9
      .sub-headline Điều Khoản / Quyền Lợi Thêm <br/>
      / TODO: Add examples
      = f.input :description, label: false, :input_html => {:class => "span12"}
  .row-fluid
    .pull-right= f.submit "Lưu", class: "submit"

= render "popularity"