.comment-cover{style: "background-image: url('#{project.photo_url(:narrowed_banner)}')"}
  .overlay
%header.proj-header.row.col-md-8.col-md-offset-2{style: "height: 100px;"}
  / = render "layouts/item-based/navigation", project: @project
  %nav.navbar.proj-details{role: "navigation"}
    .row.col-md-12.clearfix
      %ul.nav.navbar-nav.project-links
        %li= link_to "Thông Tin", project_path(project), class: ("active" if params[:controller] == "projects")
        %li
          = link_to project_project_updates_path(project), class: ("active" if params[:controller] == "project_updates") do
            Cập Nhật #{"(#{project.project_updates.count})" if project.project_updates.count > 0}
        %li
          = link_to project_donations_path(project), class: ("active" if params[:controller] == "donations") do
            Mạnh Thường Quân #{"(#{project.donations_count})" if project.donations_count > 0}
        %li
          = link_to project_project_comments_path(project), class: ("active" if params[:controller] == "project_comments") do
            Bình Luận #{"(#{project.project_comments.count})" if project.project_comments.count > 0}

/ .comment-header
/   %h1= project.title
/   %span.glyphicon.glyphicon-user
/   = project.user.name
/   &sdot;
/   %span.glyphicon.glyphicon-map-marker
/   = project.location