= content_for :head do
  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

= render "layouts/item-based/cover.html.haml", project: @project

%section.content.row.col-md-8.col-md-offset-2
  - if notice || alert
    .row
      .alert.alert-info= notice || alert
  
  .row
    .alert.alert-info Hãy chia sẻ bình luận của bạn về dự án <strong>#{@project.title}</strong>
  .row
    .comment-box
      %ul.media-list
        .comment.row
          .col-md-1.text-center
            - if current_user && current_user.avatar?
              = image_tag(current_user.avatar_url(:medium), class: "img-circle group-ava media-object", size: "50x50")
            - else
              = image_tag("logo_square.png", class: "img-circle group-ava media-object", size: "50x50")
          .media-body.col-md-11
            = simple_form_for [@project, @new_comment] do |f|
              - if @new_comment.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@new_comment.errors.count, "error")} prohibited this project from being saved:"
                  %ul
                    - @new_project.errors.full_messages.each do |msg|
                      %li= msg
              .form-group
                = f.input       :project_id, :as => :hidden, :input_html => {:value => @project.id}
                - if signed_in?
                  = f.input       :user_id, :as => :hidden, :input_html => {:value => current_user.id}
                - else
                  = f.input       :user_id, :as => :hidden
                = f.input       :content, placeholder: "Nhập bình luận của bạn", :label => false, :input_html => {:class => "form-control"}
                %p
                = f.submit "gửi bình luận", class: "col-md-3 btn btn-success btn-sm pull-right"              
        %hr/
        %li
          - @project_comments.each do |comment|
            .media
              = link_to user_profile_path(comment.user), class: "pull-left" do
                / TODO: resize
                - if comment.user.avatar? 
                  = image_tag(comment.user.avatar_url(:medium), class: "img-circle group-ava", size: "80x80")
                - else
                  = image_tag("logo_square.png", class: "img-circle group-ava", size: "80x80")
              .media-body.pull-left
                %h4.media-heading= comment.user.name
                = comment.content
            %hr/

  = render "projects/side_bar/metrics_box", project: @project
