= content_for :head do
  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

.comment-cover{style: "background-image: url('#{@project.photo_url}')"}
  .overlay
%header.proj-header.row.col-md-8.col-md-offset-2
  / = render "layouts/item-based/navigation", project: @project
  %nav.navbar.proj-details{role: "navigation"}
    .row.col-md-8.clearfix
      %ul.nav.navbar-nav.project-links
        %li= link_to "Thông Tin", project_path(@project), class: ("active" if params[:controller] == "projects")
        %li
          = link_to project_project_updates_path(@project), class: ("active" if params[:controller] == "project_updates") do
            Cập Nhật #{"(#{@project.project_updates.count})" if @project.project_updates.count > 0}
        %li
          = link_to project_donations_path(@project), class: ("active" if params[:controller] == "donations") do
            Mạnh Thường Quân #{"(#{@project.donations_count})" if @project.donations_count > 0}
        %li
          = link_to project_project_comments_path(@project), class: ("active" if params[:controller] == "project_comments") do
            Bình Luận #{"(#{@project.project_comments.count})" if @project.project_comments.count > 0}
  .comment-header
    %h1= @project.title
    %span.glyphicon.glyphicon-user
    = @project.user.name
    &sdot;
    %span.glyphicon.glyphicon-map-marker
    = @project.location

%section.content.row.col-md-8.col-md-offset-2
  - if notice || alert
    .row
      .alert.alert-info= notice || alert
  = render "projects/side_bar/metrics_box", project: @project
  %hr/
  .row
    .alert.alert-info Hãy chia sẻ bình luận của bạn về dự án này
  .row
    .comment-box
      %ul.media-list
        %li.comment.row
          %a.pull-left{href: "#"}
            %img.media-object{alt: "...", src: "http://d13yacurqjgara.cloudfront.net/users/11041/avatars/small/B.png?1386650061"}/
          .media-body.col-md-11.pull-right
            = simple_form_for [@project, @new_comment] do |f|
              - if @new_comment.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@new_comment.errors.count, "error")} prohibited this project from being saved:"
                  %ul
                    - @new_project.errors.full_messages.each do |msg|
                      %li= msg
              .form-group
                = f.input       :project_id, :as => :hidden, :input_html => {:value => @project.id}
                - if signed_in?
                  = f.input       :user_id, :as => :hidden, :input_html => {:value => current_user.id}
                - else
                  = f.input       :user_id, :as => :hidden
                = f.input       :content, placeholder: "Nhập bình luận của bạn", :label => false, :input_html => {:class => "form-control"}
                %p
                = f.submit "gửi bình luận", class: "col-md-3 btn btn-success btn-sm pull-right"              
        %hr/
        %li
          - @project_comments.each do |comment|
            .media
              = link_to user_profile_path(comment.user), class: "pull-left" do
                / TODO: resize
                - if comment.user.avatar? 
                  = image_tag(comment.user.avatar_url(:medium), class: "img-circle group-ava")
                - else
                  = image_tag("ph_project-thumbnail.jpg", class: "img-circle group-ava")
              .media-body
                %h4.media-heading= comment.user.name
                = comment.content
            %hr/