%h1 Listing expenses

%table
  %tr
    %th Category
    %th Amount
    %th Project
    %th In words
    %th
    %th
    %th

  - @expenses.each do |expense|
    %tr
      %td= expense.category
      %td= expense.amount
      %td= expense.project
      %td= expense.in_words
      %td= link_to 'Show', expense
      %td= link_to 'Edit', edit_expense_path(expense)
      %td= link_to 'Destroy', expense, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Expense', new_expense_path
