= form_for [@project, @ext_donation] do |f|
  = f.hidden_field :project_id, value: @project.id
  #ext-donation-form
    / Tên Dự Án
    .form-item.col-md-6
      %label{for: "Tên Dự Án"} Họ & Tên*
      %span.example
        Ví Dụ
        %i Nguyễn Văn Linh
      = f.text_field :donor, class: "form-control"
    .form-item.col-md-6
      %label{for: "Ngày Ghi Nhận Ủng Hộ"} Ngày Ghi Nhận*
      = f.text_field :collection_time, required: true, class: "form-control collection_time"
    .form-item.col-md-6
      %label{for: "Số Tiền Ủng Hộ"} Số Tiền (VNĐ)*
      = f.text_field :amount, required: true, class: "form-control"
    .form-item.col-md-6
      %label{for: "Phương Thức Ủng Hộ"} Phương Thức Ủng Hộ*
      = f.select :collection_method, [["Chuyển Khoản Ngân Hàng", "BANK_TRANSFER"],["Thu Tiền Tận Nơi","COD"]], class: "form-control"
    .clearfix
    .form-item.col-md-6
      %label{for: "Email"} Email
      = f.text_field :email, class: "form-control"
    .form-item.col-md-6
      %label{for: "Số Điện Thoại"} Số Điện Thoại
      = f.text_field :phone, class: "form-control"
    .form-item.col-md-12
      %label{for: "Ghi Chú"} Ghi Chú
      %span.example
        (đường link tài khoản Facebook, số tham chiếu ngân hàng, v.v)
      = f.text_area :note, class: "form-control", row: 2
    .form-item.col-md-12
      %label Gửi email xác nhận tới MTQ
      = check_box_tag :notification, true, class: "check"
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %label Ẩn Danh?
      = f.check_box :anon, class: "check"

    = f.submit "Thêm Ủng Hộ", class: "btn btn-success"