= form_for [@project, @ext_donation] do |f|
  = f.hidden_field :project_id, value: @project.id
  #ext-donation-form
    / Tên Dự Án
    .form-item.col-md-6
      %label{for: "Tên Dự Án"}= t('.họ_tên')
      %span.example
        = t('.ví_dụ')
        %i= t('.nguyễn_văn_linh')
      = f.text_field :donor, class: "form-control"
    .form-item.col-md-6
      %label{for: "Ngày Ghi Nhận Ủng Hộ"}= t('.ngày_ghi_nhận')
      = f.text_field :collection_time, required: true, class: "form-control collection_time"
    .form-item.col-md-6
      %label{for: "Số Tiền Ủng Hộ"}= t('.số_tiền_vnĐ')
      = f.text_field :amount, required: true, class: "form-control"
    .form-item.col-md-6
      %label{for: "Phương Thức Ủng Hộ"}= t('.phương_thức_Ủng_hộ')
      = f.select :collection_method, [["Chuyển Khoản Ngân Hàng", "BANK_TRANSFER"],["Thu Tiền Tận Nơi","COD"]], class: "form-control"
    .clearfix
    .form-item.col-md-6
      %label{for:= t('.email')} Email
      = f.text_field :email, class: "form-control"
    .form-item.col-md-6
      %label{for:= t('.số_Điện_thoại')} Số Điện Thoại
      = f.text_field :phone, class: "form-control"
    .form-item.col-md-12
      %label{for:= t('.ghi_chú')} Ghi Chú
      %span.example
        = t('.đường_link_tài_khoản_facebook_')
      = f.text_area :note, class: "form-control", row: 2
    .form-item.col-md-12
      %label= t('.gửi_email_xác_nhận_tới_mtq')
      = check_box_tag :notification, true, class: "check"
      = t('.nbspnbspnbspnbspnbsp')
      %label= t('.Ẩn_danh')
      = f.check_box :anon, class: "check"

    = f.submit t('.thêm_Ủng_hộ'), class: "btn btn-success"
