.donation-item
  .item-desc
    #{human_time donation.created_at} &sdot;
    - if donation.anon
      .avatar= image_tag "default_avatar.png"
    - else
      = link_to user_profile_path(donation.user) do
        .avatar
          - if donation.user.avatar? 
            = image_tag(donation.user.avatar_url(:small)) 
          - else
            = image_tag "default_avatar.png"
        
    %strong
      - if donation.anon
        %strong Ẩn Danh
      - else
        %strong= link_to donation.user.name, user_profile_path(donation.user)
    ủng hộ #{human_currency donation.amount}

    - if donation.collection_method == "COD"
      %a.action{href: ""}
        .links-right
          %span.glyphicon.glyphicon-usd
    - else
      %a.action{href: ""}
        .links-right
          %span.glyphicon.glyphicon-credit-card
    
    - if current_user && donation.project.authorized_edit_for?(current_user) && donation.status != "SUCCESSFUL"
      = link_to confirm_donation_path(euid: donation.euid), class: "action", :confirm => "Khi click OK, chúng tôi sẽ thông báo với mạnh thường quân là bạn đã nhận tiền chuyển vào tài khoản. Thao tác này không thể undo." do
        .links-right
          Xác nhận ủng hộ