- if donation.status == "SUCCESSFUL" || (current_user && current_user.projects.exists?(@project) != nil && (donation.status == "PENDING" || donation.status == "REQUEST_VERIFICATION"))  || (current_user && current_user.staff && donation.status == "PENDING" && donation.collection_method == "COD") 
  .donation--bar
    .row-fluid
      .span1
        %span.euid= link_to donation.euid, project_donation_path(donation.project, donation)
      .span4 #{human_time(donation.updated_at)} &sdot; #{link_to limit_display(donation.project.title, 30), project_path(donation.project)}
      .span4
        %i.icon-money 
          #{human_currency donation.amount} &nbsp;&nbsp;&nbsp;
        = link_to project_donation_path(donation.project, donation) do
          %i.icon-cogs 
          #{human_donation_type(donation.collection_method)}
        
      .span3.righted
        .row-fluid
          .span6
            = human_donation_status(donation)
          .span6
            - if donation.collection_method == "BANK_TRANSFER" && donation.status == "PENDING" && current_user && current_user.donations.exists?(@donation) != nil
              (#{link_to "Đã Chuyển?", donations_request_verification_path(euid: donation.euid), :confirm => "Khi click OK, chúng tôi sẽ thông báo với người làm dự án là bạn đã tiến hành chuyển tiền vào tài khoản. Thao tác này không thể undo."})

            - if donation.collection_method == "BANK_TRANSFER" && donation.status == "REQUEST_VERIFICATION" && current_user && current_user.projects.exists?(@project) != nil
              %button Xác nhận

            - if donation.collection_method == "COD" && donation.status == "PENDING" && current_user && current_user.staff
              %button Phụ trách
