.row-fluid
  .span1= donation.euid
  .span4= donation.project.title
  .span2= human_time(donation.updated_at)
  .span3
    = human_currency donation.amount
    %br/ 
    = human_donation_type(donation.collection_method)
  .span2
    = human_donation_status(donation)
    - if donation.collection_method == "BANK_TRANSFER" && donation.status == "PENDING"
      = link_to "Request Verification", donations_request_verification_path(euid: donation.euid)
%hr/