- unless donations.empty?
  - donations.each do |donation|
    .donation
      - if donation.status == "SUCCESSFUL"
        .date.centered= human_time(donation.created_at)
        / .collection_method
        /   %span.centered= human_donation_type donation.collection_method
        .in_words
          - if donation.anon
            %strong Ẩn Danh
          - else
            %strong= link_to donation.user.name, user_profile_path(donation.user)
          ủng hộ <strong>#{human_currency donation.amount}</strong> (#{human_donation_type donation.collection_method})
      - else
        .date.centered= human_time(donation.created_at)
        / .collection_method
        /   %span.centered= human_donation_type donation.collection_method
        .in_words 
          - if donation.anon
            %strong Ẩn Danh
          - else
            %strong= link_to donation.user.name, user_profile_path(donation.user)
          ủng hộ <strong>#{human_currency donation.amount}</strong> (#{human_donation_type donation.collection_method})
        .action
          - if current_user && donation.project.authorized_edit_for?(current_user)
            = link_to "Đã nhận tiền?", confirm_donation_path(euid: donation.euid), :confirm => "Khi click OK, chúng tôi sẽ thông báo với mạnh thường quân là bạn đã nhận tiền chuyển vào tài khoản. Thao tác này không thể undo."