#footer
  .footer-container
    .row-fluid
      .span6
        %p
          %b= t('.copy_bẢn_ĐỒ_tỪ_thiỆn_2013')
        %p= t('.bản_Đồ_từ_thiện_charity_map_là')
      .span6
        .row-fluid
          .span4
            %p
              %b= t('.về_chúng_tôi')
            %p
              = t('.Đội_ngũ')
              %br/
              = t('.báo_chí')
              %br/
              = t('.những_con_số')
          .span4
            %p
              %b= t('.tổ_chức_xã_hội')
            %p
              = t('.hướng_dẫn_sử_dụng')
              %br/
              = t('.chiến_dịch_gây_quỹ')
              %br/
              = t('.câu_hỏi')
          .span4
            %p
              %b= t('.mạnh_thường_quân')
            %p
              = t('.phương_thức_Ủng_hộ')
              %br/
              = t('.quy_Định_bảo_mật')
              %br/
              = t('.liên_hệ')
