#header
  .container
    .pull-left
      = link_to root_path do
        = image_tag "logo.png"
    .pull-right
      = link_to projects_path do
        .navigation-box 
          .navigation-text Các Dự Án
      - unless signed_in?
        = link_to pages_about_path do
          .navigation-box 
            .navigation-text Giới Thiệu
        = link_to new_user_session_path do
          .navigation-box 
            .navigation-text Đăng Nhập
        = link_to new_user_registration_path do
          .navigation-box 
            .navigation-text Đăng Ký
      - else
        = link_to dashboard_path do
          .navigation-box 
            .navigation-text Quản Lý
        = link_to users_settings_path do
          .navigation-box 
            .navigation-text Hồ Sơ
        = link_to destroy_user_session_path do
          .navigation-box 
            .navigation-text Đăng Xuất
      .language-bar
        .language-bar--text
          - if params[:locale] == "en"
            %span.active= link_to "VN", locale: "vi"
            &nbsp;/
            EN
          - else
            / %span.active= link_to "EN", locale: "en"
            / &nbsp;/
            / VN
            %span.inactive{:"data-toggle" => "tooltip", :title => "first tooltip"} EN
            &nbsp;/
            VN