.infowindow--project-container
  .giving-space
    .project-title= link_to project.title, project_path(project)
    .project-info
      %i.icon-user 
      #{limit_display project.user.name || project.user.email.split("@").first, 20}
      &sdot;
      %i.icon-map-marker 
      #{limit_display project.location, 20}
      - if project.recommendations.count > 0
        &sdot;
        %i.icon-thumbs-up
        = project.recommendations.count
  .project-description.giving-space
    - if project.title.length > 30
      = limit_display project.brief.html_safe, 170
    - else
      = project.brief.html_safe
  .project-footer-bar
    .row-fluid.giving-space
      .project-progressbar
        .project-progressbar--green{:style => "width: #{(project.donations_sum/ project.funding_goal * 260).to_i}px;"}
    .row-fluid.giving-space
      .pull-left{style: "width: 80px;"}
        .project-metric= number_to_percentage project.donations_sum * 100 / project.funding_goal, precision: 0
        .project-metric--description Hoàn Thành
      - if project.donations.successful.sum(:amount) * 100/ project.funding_goal < 0.15
        .pull-left{style: "width: 110px;"}
          .project-metric= human_currency project.funding_goal - project.donations_sum
          .project-metric--description Cần Kêu Gọi
      - else
        .pull-left{style: "width: 110px;"}
          .project-metric= human_currency project.donations_sum
          .project-metric--description Đã Kêu Gọi
      .pull-left{style: "width: 70px;"}
        - if project.end_date > Time.now
          .project-metric= (TimeDifference.between(Time.now, project.end_date).in_days).to_i
          .project-metric--description Ngày Còn Lại
        - else
          .project-metric #{project.end_date.strftime("%d/%m/%Y")}
          .project-metric--description Kết Thúc