<%= content_for :head do %>
  <style>
  .infowindow {
    width: 300px;
    min-height: 200px;
  }
  #map-canvas img {
    max-width: none;
    line-height: normal !important;
  };
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag "map", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript">

  function initialize() {
    var styleCharityMap = [
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "poi",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "administrative.locality",
          "elementType": "labels",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "stylers": [
            { "saturation": -100 }
          ]
        },{
          "featureType": "road"  },{
          "featureType": "water",
          "stylers": [
            { "lightness": 60 }
          ]
        },{
          "featureType": "road.highway",
          "stylers": [
            { "visibility": "on" },
            { "lightness": 45 }
          ]
        },{
          "featureType": "administrative.neighborhood",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "road",
          "elementType": "labels",
          "stylers": [
            { "visibility": "on" },
            { "lightness": 43 }
          ]
        }
      ];

    var mapOptions = {
      zoom: 5,
      zoomControl: true,
      scrollwheel: false,
      center: new google.maps.LatLng(<%= Configuration[:central_latitude] %>, <%= Configuration[:central_longitude] %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.LEFT_CENTER
      },
      styles: styleCharityMap
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

    var infowindow = new google.maps.InfoWindow();

    var myLatlng = new google.maps.LatLng(10.77530, 106.69681);

  <% unless markers.nil?  %>
    <% markers.each do |marker| %>
      var <%= "myLatlng#{marker.id}" %> = new google.maps.LatLng(<%= marker.latitude %>, <%= marker.longitude %>);
      var <%= "content#{marker.id}" %> = "<%= escape_javascript(render 'layouts/infowindow', project: marker) %>";
      var <%= "marker#{marker.id}" %> = new google.maps.Marker({
        position: <%= "myLatlng#{marker.id}" %>,
        map: map,
        <% if marker.accepting_donations? %>
          icon: '<%= image_path("careicon-red.png") %>'
        <% else %>
          icon: '<%= image_path("careicon-blue.png") %>'
        <% end %>
      });

      google.maps.event.addListener(<%= "marker#{marker.id}" %>, 'click', function() {
        infowindow.close();
        infowindow.setContent(<%= "content#{marker.id}" %>);
        infowindow.open(map,<%= "marker#{marker.id}" %>);
        // map.setCenter(<%= "myLatlng#{marker.id}" %>);
      });
    <% end  %>
  <% end %>

  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% end  %>

<div id="map-canvas" style="width: 100%; height: <%= height %>;"></div>