%p= t('.bôi_đậm_tiêu_đề_sdot_btiêu_đềb')
%p= t('.in_nghiêng_ghi_chú_sdot_ighi_c')
%p= t('.tiêu_đề_thông_báo_sdot_font_si')
%p= t('.chèn_ảnh_ghi_chú_ảnhlink_ảnh')
%p= t('.chèn_link_báo_chíhttpgooglecom')
