<%= content_for :head do %>
  <style>
  .infowindow {
    width: auto;
    min-height: 20px;
  }
  #map-canvas img {
    max-width: none;
    line-height: normal !important;
  };
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">

  function initialize() {
    var styleCharityMap = [
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "poi",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "administrative.locality",
          "elementType": "labels",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "stylers": [
            { "saturation": -100 }
          ]
        },{
          "featureType": "road"  },{
          "featureType": "water",
          "stylers": [
            { "lightness": 60 }
          ]
        },{
          "featureType": "road.highway",
          "stylers": [
            { "visibility": "on" },
            { "lightness": 45 }
          ]
        },{
          "featureType": "administrative.neighborhood",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "road",
          "elementType": "labels",
          "stylers": [
            { "visibility": "on" },
            { "lightness": 43 }
          ]
        }
      ];

    var mapOptions = {
      zoom: <%= zoom %>,
      zoomControl: true,
      scrollwheel: false,
      center: new google.maps.LatLng(<%= latitude %>,<%= longitude %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.LEFT_CENTER
      },
      styles: styleCharityMap
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

    var infowindow = new google.maps.InfoWindow();

    var myLatlng = new google.maps.LatLng(10.77530, 106.69681);

    var <%= "myLatlng#{id}" %> = new google.maps.LatLng(<%= latitude %>, <%= longitude %>);
    var <%= "content#{id}" %> = "<div class='infowindow'><%= escape_javascript(content) %></div>";
    var <%= "marker#{id}" %> = new google.maps.Marker({
      position: <%= "myLatlng#{id}" %>,
      map: map,
      icon: '<%= image_path("careicon-red.png") %>'
    });

    var <%= "marker#{id}" %> = new google.maps.Marker({
      position: <%= "myLatlng#{id}" %>,
      map: map,
      icon: '<%= image_path("careicon-red.png") %>'
    });

    google.maps.event.addListener(<%= "marker#{id}" %>, 'click', function() {
      infowindow.close();
      infowindow.setContent(<%= "content#{id}" %>);
      infowindow.open(map,<%= "marker#{id}" %>);
    });

  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% end  %>

<div id="map-canvas" style="width: 100%; height: <%= height %>;"></div>