!!!
%html
  %head
    %title= site_title
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=980", :name => "viewport"}/
    %link{href: image_path("favicon.ico"), rel: "shortcut icon"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = yield :head
  %body
    <div id="fb-root"></div>
    - if params[:controller] == "projects"
      = render "layouts/facebook_script"
    = render "layouts/header"
    .body-container
      - if notice || alert
        .body-container--plain-row
          .body-container--content
            - if notice
              .notice= notice
            - if alert
              .alert= alert
      = yield
    - cache("footer", :expires_in => 1.day) do
      = render "layouts/footer"
  - cache("analytics", :expires_in => 1.week) do
    = render "layouts/analytics"
    = render "layouts/olark"
  :javascript
    $(document).ready(function() {
      // var editor = new MediumEditor('.editable');
      $(".show-chart").click(function() {
        var bar_display, donation_chart;
        bar_display = $(this).parents(".bar-display");
        donation_chart = $(".chart", bar_display);
        return donation_chart.toggle();
      });
      
      var percentage_obj_list;
      percentage_obj_list = $(".project-progressbar .project-progressbar--green");
      return percentage_obj_list.each(function(index) {
        var percentage_value, real_percentage_value;
        percentage_value = $(this).attr("data_percentage");
        if (percentage_value > 100) {
          real_percentage_value = 260;
        } else {
          real_percentage_value = percentage_value * 260 / 100;
        }
        return $(this).css("width", real_percentage_value);
      });
    });