!!!
%html
  %head
    %title= Configuration[:site_name]
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=980", :name => "viewport"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "layouts/header"
    .body-container
      - if notice || alert
        .body-container--plain-row
          .body-container--content
            - if notice
              %p.notice= notice
            - if alert
              %p.alert= alert
      = yield
    = render "layouts/footer"
  = javascript_include_tag "pages", "data-turbolinks-track" => true