!!!
%html
  %head
    %title= Configuration[:site_name]
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=980", :name => "viewport"}/
    %link{href: image_path("favicon.ico"), rel: "shortcut icon"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = yield :head
  %body
    = render "layouts/header"
    .body-container
      - if notice || alert
        .body-container--plain-row
          .body-container--content
            - if notice
              %p.notice= notice
            - if alert
              %p.alert= alert
      .body-container--plain-row
        .body-container--content
          .dashboard--sidebar
            - if (["dashboard/projects", "project_updates", "recommendations", "project_rewards"].include?(params[:controller]) && @project)
              .chunk
                .line.heading
                  %i.icon-location-arrow
                  = limit_display @project.title, 15
                .line= link_to "Chỉnh Sửa", edit_project_path(@project)
                .line #{link_to "Thống Kê Đóng Góp", project_donations_path(@project)} (#{@project.donations_count})
                .line #{link_to "Đề Mục Đóng Góp", project_project_rewards_path(@project)} (#{@project.project_rewards.count})
                .line #{link_to "Cập Nhật", project_project_updates_path(@project)} (#{@project.project_updates.count})
                .line #{link_to "Giới Thiệu", project_recommendations_path(@project)} (#{@project.recommendations.count})
              .chunk
                .line.heading
                  %i.icon-tasks
                  Dự Án Của Bạn
                - unless current_user.projects.empty?
                  - current_user.projects.each do |project|
                    .line.active= link_to limit_display(project.title, 20), dashboard_project_path(project)
                .line= link_to "Tạo Dự Án Mới", new_project_path, class: "active"
            - else
              .chunk
                .line.heading
                  %i.icon-tasks
                  Dự Án Của Bạn
                - unless current_user.projects.empty?
                  - current_user.projects.each do |project|
                    .line= link_to limit_display(project.title, 20), dashboard_project_path(project)
                .line= link_to "Tạo Dự Án Mới", new_project_path

            .chunk
              .line.heading
                %i.icon-user 
                Cá Nhân
              .line #{link_to "Đóng Góp", users_donations_path} (#{current_user.donations.successful.count})
              .line #{link_to "Tin Nhắn", messages_path} (#{current_user.messages.unreaded.count})
              .line= link_to "Chỉnh Sửa Thông Tin", users_settings_path
              .line= link_to "Xác Nhận Tài Khoản", users_verify_path
              .line= link_to "Trang Cá Nhân", user_profile_path( current_user)

            .chunk
              .line.heading
                %i.icon-gears 
                Hệ Thống
              .line Tin Tức, Cập Nhật
              .line.disabled Gửi Góp Ý
          .dashboard--main
            = yield
    = render "layouts/footer"
  = render "layouts/analytics"
  :javascript
    $(document).ready(function() {
      var editor = new MediumEditor('.editable');
      $(".show-chart").click(function() {
        var bar_display, donation_chart;
        bar_display = $(this).parents(".bar-display");
        donation_chart = $(".chart", bar_display);
        return donation_chart.toggle();
      });
    });