!!!
%html
  %head
    %title= site_title
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=980", :name => "viewport"}/
    %link{href: image_path("favicon.ico"), rel: "shortcut icon"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "cm-custom", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "nprogress", media: "all", "data-turbolinks-track" => true
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = yield :head
  %body 
    = yield
    - cache("analytics", :expires_in => 1.month) do
      = render "layouts/analytics"